{% load static %}
{% load mention %}
{% load check_url %}
{% load humanize %}
<div class="card" id="feed-{{ feed.pk }}">
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img class="is-rounded" src="{{ feed.user.profile.image.url }}" alt="{{ user.username }}">
                </figure>
            </div>
            <div class="media-content">

                {% if feed.user.user.get_full_name %}
                <p class="title is-4">{{ feed.user.get_full_name | title }}{% if feed.user.profile.verified %}
                    <i class="fas fa-check-circle"></i>
                    {% endif %}</p>
                {% else %}
                <p class="title is-4">{{ feed.user.username | title }}{% if feed.user.profile.verified %}
                    <i class="fas fa-check-circle"></i>

                    {% endif %}</p>
                {% endif %}
                <p class="subtitle is-6"><a
                        href="{% url 'profile_view' feed.user.username %}">@{{feed.user.username}}</a>
                    {% if feed.user.is_superuser %}
                    <span class="tag is-info is-rounded">Admin <i class="fas fa-check"></i></span>
                    {% endif %}
                    {% if feed.user.is_staff %}
                    <span class="tag is-info is-rounded">Staff <i class="fas fa-check"></i></span>
                    {% endif %}
                    
                    {% if not feed.user.profile in user.profile.follows.all and user.profile in feed.user.profile.follows.all %}
                        <span class="tag is-primary is-light is-rounded">Following You</span>
                    {% endif %}
                        
                </p>
            </div>
        </div>
        <div class="content">
            {{ feed.body | safe | mention | check_url }}
            <br>
            {% if feed.image %}
            <i class="fas fa-camera"></i>
            {% endif %}
            {% if feed.video %}
             <i class="fas fa-video"></i>
            {% endif %}
            {% if feed.audio %}
            {% endif %}
            <br>

        {% if not showView %}   
        <a href="{% url 'feed_detail' feed.id %}">View <i class="far fa-eye"></i></a>
        |       
        {% endif %}
        
        {% if user.is_autherticated %}    
        <a href="javascript:void(0);" onclick="like_feed('{{feed.pk}}');" class="feed_like" id="{{ feed.pk }}">
           Like <i class="fas fa-heart"></i> <span id="like_count_{{feed.pk}}">{{ feed.likes.all.count }}</span></a>
           {% else %}
           <a href="{% url 'login' %}">
            Like <i class="fas fa-heart"></i> <span id="like_count_{{feed.pk}}">{{ feed.likes.all.count }}</span></a>
        {% endif %}
            
            {% if feed.user == user %}
            |
            <a href="{% url 'edit_feed' feed.id %}">Edit <i class="fas fa-pencil-alt"></i></a>
            |
            <a href="{% url 'delete_feed' feed.id %}">Delete <i class="fas fa-trash"></i></a>
            {% endif %}

            <br>
            <small><time datetime="{{ feed.date }}">{{ feed.date | naturaltime }}</time></small>
            <br>
            <br>
            <a href="#feed-{{ feed.pk }}">
                <i class="fas fa-link"></i>
            </a> 
            <a href="#feed-{{ feed.pk }}" class="button is-danger is-small is-rounded">Report Abuse
                 <i class="fas fa-exclamation-triangle"></i>
            </a>
        </div>
    </div>
</div>
<br>