{% load static %}
{% load mention %}
{% load check_url %}
{% load humanize %}
<div class="card" id="feed-{{ feed.pk }}">
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img class="is-rounded" src="{{ feed.user.profile.image.url }}" alt="{{ user.username }}">
                </figure>
            </div>
            <div class="media-content">

                {% if feed.user.user.get_full_name %}
                <p class="title is-4">{{ feed.user.get_full_name | title }}</p>
                {% else %}
                <p class="title is-4">{{ feed.user.username | title }}</p>
                {% endif %}
                <p class="subtitle is-6"><a
                        href="{% url 'profile_view' feed.user.username %}">@{{feed.user.username}}</a>
                    {% if feed.user.is_superuser %}
                    <span class="tag is-info is-light is-rounded">Admin ✅</span>
                    {% endif %}
                    {% if feed.user.is_staff %}
                    <span class="tag is-info is-light is-rounded">Staff ✅</span>
                    {% endif %}
                    
                    {% if not feed.user.profile in user.profile.follows.all and user.profile in feed.user.profile.follows.all %}
                        <span class="tag is-primary is-light is-rounded">Following You</span>
                    {% endif %}
                        
                </p>
            </div>
        </div>
        <div class="content">
            {{ feed.body | safe | mention | check_url }}
            <br>
            {% if feed.image %}
            📷
            {% endif %}
            {% if feed.video %}
            🎥
            {% endif %}
            <br>

        {% if not OnHome %}   
        <a href="{% url 'feed_detail' feed.id %}">View 👀</a>
        |       
        {% endif %}
            <a href="javascript:void(0);" onclick="like_feed('{{feed.pk}}');" class="feed_like" id="{{ feed.pk }}">Like
                💖 <span id="like_count_{{feed.pk}}">{{ feed.likes.all.count }}</span></a>
            {% if feed.user == user %}
            |
            <a href="{% url 'edit_feed' feed.id %}">Edit 📝</a>
            |
            <a href="{% url 'delete_feed' feed.id %}">Delete 🚮</a>
            {% endif %}

            <br>
            <small><time datetime="{{ feed.date }}">{{ feed.date | naturaltime }}</time></small>
            {% if feed.update_date != feed.date %}
            <span class="tag is-link is-light">Edited {{ feed.update_date | naturaltime }}</span>
            {% endif %}
            <br>
            <br>
            <a href="#feed-{{ feed.pk }}">🔗</a>
            <a href="#feed-{{ feed.pk }}" class="button is-danger is-small is-rounded is-light">Report Abuse</a>
        </div>
    </div>
</div>
<br>