{% if user.is_authenticated %}
{% if tuser.userprofile in user.userprofile.follows.all %}
<button id="follow_{{ tuser.username }}" class="button {% if small|default:False %}is-small{% endif %} {{ eclass }}"
    onclick="follow('{{ tuser.username }}')">
    <span>Unfollow</span><span class="icon">&minus;</span>
</button>
{% else %}
<button id="follow_{{ tuser.username }}" class="button {% if small|default:False %}is-small{% endif %} {{ eclass }}"
    onclick="follow('{{ tuser.username }}')">
    <span>Follow</span><span class="icon">&plus;</span>
</button>
{% endif %}
{% endif %}