{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Logged Out
{% endblock title %}


{% block content %}
<div class="columns is-vcentered">
    <div class="column">
        <h1 class="title is-1 has-text-weight-bold">Logged Out</h1>
        <p class="subtitle">You have been logged out.</p>
        <p class="subtitle">Go to <a href="{% url 'home' %}">Home 🏡</a> or <a href="{% url 'login' %}">Login 🔐</a> again.</p>
    </div>
    <div class="column">
        <article class="image">
            <img src="{% static 'img/ginger-cat-734.png' %}">
        </article>
    </div>
</div>
{% endblock content %}