{% extends 'core/base.html' %}
{% load static %}


{% block title %}
Login
{% endblock title %}


{% block content %}
<div class="">
<div class="columns is-vcentered">
    <div class="column">
        <h1 class="title is-1 has-text-weight-bold">Login</h1>
        <p class="subtitle">Login with your account you have created.</p>
        <form method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <br>
            <a href="{% url 'password_reset' %}">Forgot Password? 🔑</a>
            <p>Not have an account? <a href="{% url 'signup' %}">Sign Up 🚀</a></p>
            <br>
            <button type="submit" class="button is-info is-large">Login 🔐</button>
        </form>
    </div>
    <div class="column">
        <article class="image is-square">
            <img src="{% static 'img/atomic-logged-out-1.png' %}" alt="" width="30" height="30">
        </article>
        <p class="content has-text-centered">
            Illustration by <a href="https://icons8.com/illustrations/author/60c868b228e02f000aef145d">AsIa Vitalyevna</a> from <a href="https://icons8.com/illustrations">Ouch!</a>
        </p>
    </div>
</div>
</div>
{% endblock content %}

{% block script %}
<script>
    inputs = document.querySelectorAll('input');
    for (i = 0; i < inputs.length; i++) {
        
        inputs[i].classList.add('input');
    }
    inputs[1].placeholder = 'Username';
    inputs[2].placeholder = 'Password';

</script>
{% endblock script %}
    