{% extends 'core/base.html' %}
{% load bulma_tags %}
{% load static %}


{% block title %}
Login
{% endblock title %}
{% block content %}
<div class="columns is-vcentered" hx-boost="flase">
    <div class="column">
        <h1 class="title is-1 has-text-weight-bold">Login</h1>
        <p class="subtitle">Login with your account you have created.</p>
        <form method="POST" class="box">
            {{ form|bulma }}
            {% csrf_token %}
            <br>
            <a href="{% url 'password_reset' %}">Forgot Password? 🔑</a>
            <p>Not have an account? <a href="{% url 'signup' %}">Sign Up 🚀</a></p>
            <br>
            <div class="buttons">
                <button type="submit" class="button is-white is-fullwidth">
                    <span class="icon"><i class="bi bi-joystick"></i></span>
          <span>Login</span>
                </button>
            </div>
        </form>
    </div>
    <div class="column">
        <article class="image is-square">
            <img src="{% static 'img/atomic-logged-out-1.png' %}" alt="" width="30" height="30">
        </article>
        <p class="content has-text-centered">
            Illustration by <a href="https://icons8.com/illustrations/author/60c868b228e02f000aef145d">AsIa
                Vitalyevna</a> from <a href="https://icons8.com/illustrations">Ouch!</a>
        </p>
    </div>
</div>
</div>
{% endblock content %}