{% extends "core/base.html" %}
{% block title %}
    Password Reset Link Sent
{% endblock title %}
{% block content %}
<div class="">
<div class="container">
    <h3 class="title is-1 has-text-weight-bold">Password Reset Link Sent</h3>
    <p class="subtitle">
      We've emailed you instructions for setting your password. If they haven't
      arrived in a few minutes, check your spam folder.
    </p>
    <div class="buttons">
      <a href="{% url 'home' %}" class="button is-success">Go Home 🏡</a>
      <a href="{% url 'login' %}" class="button is-link">Login 🔐</a>
    </div>
</div>
</div>
{% endblock content %}
