{% extends 'core/base.html' %}
{% block title %}
    Password Reset Confirm
{% endblock title %}
{% block content %}
<div class="container">
    {% if validlink %}
    <h3>Reset Password</h3>
    <hr>
    <p>Please enter (and confirm) your new password.</p>
    <form action="" method="post">
      {% csrf_token %} {{form.as_p}}
      <br />
      <hr />
      <button type="submit" class="button is-primary is-rounded">Save New Password</button>
    </form>
    {% else %}
    <h1>Password reset failed</h1>
    <hr>
    <p>
      The password reset link was invalid, possibly because it has already been
      used. Please request a new password reset.
    </p>
    {% endif %}
</div>
{% endblock content %}
