{% extends 'core/base.html' %}
{% load bulma_tags %}

{% block title %}
    Change Password
{% endblock title %} {% block content %}
    <h1 class="title is-1 has-text-weight-bold">Password Change</h1>
    <p class="subtitle">
      Please enter your old password, for security’s sake, and then enter your
      new password twice so we can verify you typed it in correctly.
    </p>
    <form action="" method="post" class="control column is-one-third">
      {{form|bulma}} {% csrf_token %}
      <br>
      <button type="submit" class="button is-info is-large">Save 💾</button>
    </form>
{% endblock content %}
