{% extends "core/base.html" %}
{% load static %}
{% load bulma_tags %}
{% block title %} 
Reset Password
{% endblock title %}
{% block content %}
<div class="columns is-vcentered">
  <div class="column">
    <h1 class="title is-1 has-text-weight-bold">Password Reset</h1>
    <p class="subtitle">
      Forgotten your password? Enter your email address below, and we’ll email
      instructions for setting a new one.
    </p>
    <form method="post" class="control">
      {{form|bulma}} {% csrf_token %}
      <br />
      <button type="submit" class="button is-large">
        Send reset link 📩
      </button>
    </form>
  </div>
  <div class="column">
    <article class="image">
      <img src="{% static 'img/arabica-23.png' %}" alt="" />
    </article>
    <br />
    <p class="has-text-centered">
      Illustration by
      <a href="https://icons8.com/illustrations/author/5dbbfa4a01d0360016456d51">Murat Kalkavan</a>
      from
      <a href="https://icons8.com/illustrations">Ouch!</a>
    </p>
  </div>
</div>
{% endblock content %}