{% extends 'core/base.html' %}
{% block title %}
    Change Password
{% endblock title %} {% block content %}
    <h1 class="title is-1 has-text-weight-bold">Password Change</h1>
    <p class="subtitle">
      Please enter your old password, for security’s sake, and then enter your
      new password twice so we can verify you typed it in correctly.
    </p>
    <form action="" method="post" class="control">
      {{form.as_p}} {% csrf_token %}
    
      <button type="submit" class="button is-success">Save 💾</button>
    </form>
<script>
  inputs = document.querySelectorAll('input');
  for (i = 0; i < inputs.length; i++) {
      
      inputs[i].classList.add('input');
  }
</script>
{% endblock content %}
{% block script %}
<script>
  inputs = document.querySelectorAll('input');
  for (i = 0; i < inputs.length; i++) {

    inputs[i].classList.add('input');
  }
  inputs[1].placeholder = 'Old Password'
  inputs[2].placeholder = 'New Password'
  inputs[3].placeholder = 'Confirm New Password'
</script>
{% endblock script %}