{% extends 'core/base.html' %}
{% block title %}
    Password Reset Confirm
{% endblock title %}
{% block content %}
<div class="box">
<div class="container">
    {% if validlink %}
    <h1 class="title">Reset Password</h1>
    <p>Please enter (and confirm) your new password.</p>
    <form action="" method="post">
      {% csrf_token %} {{form.as_p}}
      <br />

      <button type="submit" class="button is-primary is-rounded">Save New Password</button>
    </form>
    {% else %}
    <h1 class="title">Password reset failed</h1>
    <p>
      The password reset link was invalid, possibly because it has already been
      used. Please request a new password reset.
    </p>
    {% endif %}
</div>
</div>
<script>
  inputs = document.querySelectorAll('input');
  for (i = 0; i < inputs.length; i++) {
      
      inputs[i].classList.add('input');
  }
</script>
{% endblock content %}
