{% extends "core/base.html" %}
{% block title %}
    Reset Password
{% endblock title %} {% block content %}
<div class="container">
    <h3>Password Reset</h3>
    <hr>
    <p>
      Forgotten your password? Enter your email address below, and we’ll email
      instructions for setting a new one.
    </p>
    <br />
    <form action="" method="post" class="control">
      {{form.as_p}} {% csrf_token %}
      <br />
      <hr />
      <button type="submit" class="button is-primary is-rounded">Send reset link</button>
    </form>
</div>
{% endblock content %}
