{% extends 'core/base.html' %}
{% block title %}
    Password Reset Done
{% endblock title %} {% block content %}
<div class="box">
<div class="container">
    <h1 class="title">Password Changed</h1>
    <hr />
    <p>You can now go and use the new password.</p>
    <br />
    <div class="buttons">
      <a href="{% url 'home' %}" class="button is-primary is-rounded">Go Home</a>
      <a href="{% url 'login' %}" class="button is-link is-rounded">Login</a>
    </div>
</div>
</div>
{% endblock content %}
