{% extends 'core/base.html' %}
{% load bulma_tags %}
{% block title %}
Password Reset Confirm
{% endblock title %}
{% block content %}
<div class="has-text-centered">
    {% if validlink %}
    <h1 class="title is-1 has-text-weight-bold">Reset Password</h1>
    <p class="subtitle">Please enter (and confirm) your new password.</p>
    <form action="" method="post">
      {% csrf_token %} {{form|bulma}}
      <br />
      <button type="submit" class="button is-info">Save New Password 💾</button>
    </form>
    {% else %}
    <h1 class="title is-1 has-text-weight-bold">Password reset failed</h1>
    <p class="content">
      The password reset link was invalid, possibly because it has already been
      used. Please request a new password reset.
    </p>
    {% endif %}
</div>

{% endblock content %}
