{% extends "core/base.html" %}
{% block title %}
    Reset Password
{% endblock title %} {% block content %}
<div class="">
<div class="container">
    <h1 class="title is-1 has-text-weight-bold">Password Reset</h1>
    <p class="subtitle">
      Forgotten your password? Enter your email address below, and we’ll email
      instructions for setting a new one.
    </p>
    <form action="" method="post" class="control">
      {{form.as_p}} {% csrf_token %}
      <br />
      <button type="submit" class="button is-link">Send reset link 📩</button>
    </form>
</div>
</div>
<script>
  inputs = document.querySelectorAll('input');
  for (i = 0; i < inputs.length; i++) {
      
      inputs[i].classList.add('input');
  }
  inputs[1].placeholder = 'Email'
</script>
{% endblock content %}
