{% extends 'core/base.html' %}
{% block title %}
    Password Reset Done
{% endblock title %} {% block content %}
<div class="container">
    <h1 class="title is-1 has-text-weight-bold">Password Changed</h1>
    <p class="content">You can now go and use the new password.</p>
    <br>
    <div class="buttons">
      <a href="{% url 'home' %}" class="button is-success is-large">Go Home 🏡</a>
      <a href="{% url 'edit_profile' %}" class="button is-dark is-large">Profile</a>
    </div>
</div>
{% endblock content %}