{% extends "core/base.html" %}
{% block title %}
    Password Reset Link Sent
{% endblock title %}
{% block content %}
<div class="box">
<div class="container">
    <h3 class='title'>Password Reset Link Sent</h3>
    <p>
      We've emailed you instructions for setting your password. If they haven't
      arrived in a few minutes, check your spam folder.
    </p>
<br>
    <div class="buttons">
      <a href="{% url 'home' %}" class="button is-primary is-rounded">Go Home</a>
      <a href="{% url 'login' %}" class="button is-link is-rounded">Login</a>
    </div>
</div>
</div>
{% endblock content %}
