{% extends 'core/base.html' %}
{% load bulma_tags %}
{% load mention %}
{% load convert_markdown %}
{% load humanize %}

{% block title %}
{{bot.name}} | Bot
{% endblock title %}

{% block content %}
<h1 class="title is-1">Add/Edit WebHook</h1>
<div class="column">
    <div class="box">
        <form action="." method="post" enctype="multipart/form-data">
            {{ form | bulma }}
            {% csrf_token %}
            <div class="field">
                <div class="control">
                    <button class="button is-primary is-fullwidth">
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}