{% load humanize %}
{% load mention %}
{% load convert_markdown %}
<div class="card">
    {% if usr.profile.header_image %}
    <div class="card-image">
        <figure class="image 16by9">
            <img src="{{usr.profile.header_image.url}}" alt="Placeholder image">
        </figure>
    </div>
    {% endif %}
    <div class="card-content">
        
        <div class="media">
            <div class="media-left">
                <figure class="image is-64x64 is-square">
            <img class="is-rounded" src="{{ usr.profile.get_image_url }}">
        </figure>
            </div>
            <div class="media-content">

                <h4 class="title is-4 has-text-weight-bold">{{ usr.get_full_name }}
                    {% if usr.profile.verified %}
                    <span class="is-small" style="color: rgb(46, 206, 107);">
                        ✔️
                    </span>
                    {% endif %}
                </h4>
                <p class="subtitle"><a href="{% url 'profile_view' usr.username %}">@{{usr.username}}</a>
                    {% if usr.is_superuser %}
                    <span class="tag is-rounded">Admin ✔️</span>
                    {% endif %}
                    {% if usr.is_staff %}
                    <span class="tag is-rounded">Staff ✔️</span>
                    {% endif %}
                    
                    {% for badge in usr.profile.badges.all %}
                    <a href="{% url 'badge' badge.id %}"><span class="tag is-rounded is-{{badge.color}}">{{ badge.name }}</span></a>
                    {% endfor %}
                        
                </p>
                
            </div>
        </div>
        
        <p class="content">
            {{ usr.profile.bio | mention | safe | convert_markdown}}
        </p>
    </div>
</div>