{% load mention %}
{% load convert_markdown %}
<div class="media item">
    <div class="media-left">
        <article class="image is-48x48 is-square">
            <img src="{{ person.profile.image.url }}" alt="." class="profile-img">
        </article>
    </div>
    <div class="media-content">
        <h4 class="title is-4">
            <strong>
                {{ person.get_full_name }}
                {% if person.profile.verified %}
                <span class="is-small" style="color: rgb(46, 206, 107);">
                    ✔️
                </span>
                {% endif %}
            </strong>
        </h4>
        <p class="subtitle is-6 mb-0"><a href="{% url 'profile_view' person %}">
        <small class="small my-0">
            @{{ person.username }}
        </small>
        </a>
        </p>
        {{ person.profile.bio | safe | mention | convert_markdown }}
    </div>
    <div class="media-right">
        <a href="{% url 'profile_view' person %}" class="button is-link is-medium">View</a>
        
    </div>
    <br>
</div>
