@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

$black: #191919;
$BlackSecondary: #222121;
$dark: $BlackSecondary;
$Grey: #12161a;
$white: #ecdbba;
$light: #f5f5f5;
$link: #845ef7;
$primary: #55df7e;
$success: #51cf66;
$info: #4dabf7;
$danger: #f03e3e;
$warning: #ffd43b;
$button-border-color: $white;
$button-hover-color: $primary;
$button-hover-border-color: $primary;
$button-active-color: $primary;
$button-active-border-color: $primary;
$button-background-color: $dark;
$message-header-radius: 0rem;
$family-sans-serif: 'Karla', sans-serif;
$tabs-boxed-link-hover-background-color: $Grey;
$tabs-boxed-link-active-border-color: $black;
$tabs-link-color: $white;
$body-background-color: $black;
$body-color: $white;
$title-color: $white;
$subtitle-color: $white;
$navbar-background-color: $white;
$footer-background-color: $BlackSecondary;
$card-background-color: $Grey;
// $card-radius: 0rem;
// $box-radius: 0rem;
$card-color: $white;
$box-background-color: $Grey;
$box-color: $white;
$link-hover: $white;
$navbar-background-color: $BlackSecondary;
$navbar-item-hover-color: $white;
$input-background-color: #252930;
$input-color: $white;
$navbar-item-color: $white;
$navbar-item-hover-background-color: $BlackSecondary;
$navbar-dropdown-background-color: $BlackSecondary;
$navbar-dropdown-color: $white;
$navbar-dropdown-hover-background-color: #616975;
$content-heading-color: $white;
$card-header-color: $white;
$text-strong: $white;
$card-header-shadow: 0px 0px 0px rgba(0, 0, 0, 0.12);
$card-header-background-color: $Grey;
$dropdown-item-color: $white;
$dropdown-item-hover-color: $white;
$dropdown-item-hover-background-color: $BlackSecondary;
$dropdown-item-background-color: $BlackSecondary;
$dropdown-content-background-color: #1b1d20;

$card-footer-padding: 1rem;
$card-media-margin: 0.25rem;
$code: $white;
$pre: $white;
$code-background: #1c1b19;
$pre-background: #1c1b19;

$menu-item-color: $white;
$menu-item-hover-color: $white;
$menu-item-hover-background-color: $BlackSecondary;
$menu-item-background-color: $BlackSecondary;
$menu-content-background-color: #1b1d20;
$menu-nested-list-padding-left: 0rem;

$file-border-color: $primary;
$file-cta-background-color: $dark;
$file-cta-color: $white;
$file-cta-hover-background-color: $primary;
$file-cta-active-color: $white;
$file-name-border-color: $white;
// $input-radius: 0rem;
$navbar-height: 5rem;
$content-blockquote-background-color: #1b1d20;
$content-blockquote-color: $white;
$content-blockquote-border-color: $white;

@import "../node_modules/bulma/bulma.sass";

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap");
 
.badge-success {
  box-shadow: 0px 0px 10px 0px rgb(6, 214, 44);
}

.badge-info {
  box-shadow: 0px 0px 10px 0px #5c7cfa;
}

.badge-link {
  box-shadow: 0px 0px 10px 0px #6669ff;
}

.badge-primary {
  box-shadow: 0px 0px 10px 0px #00bcd4;
}
.badge-warning {
  box-shadow: 0px 0px 10px 0px #ff9800;
}

.badge-danger {
  box-shadow: 0px 0px 10px 0px #f44336;
}
.badge-dark {
  box-shadow: 0px 0px 10px 0px #ffffff;
}
.badge-black {
  box-shadow: 0px 0px 10px 0px #ffffff;
}
.badge-white {
  box-shadow: 0px 0px 10px 0px #ffffff;
}
video {
  margin-bottom: 10px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 0.4rem;
}

/* Crop the vit image */
/* Add a scroll bar to it */
.vit_image {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
  max-height: 800px;
  border-radius: 5px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.no-more {
  opacity: 0;
}

.profile-img-page {
  margin-top: -70%;
}

.profile-img {
  padding: 5%;
}
.colorful {
  animation: colorful 5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

@keyframes colorful {
  0% {
    box-shadow: 0px 0px 10px 0px #5c7cfa;
    background-color: #5c7cfa;
  }
  50% {
    box-shadow: 0px 0px 10px 0px #5cfa9e;
    background-color: #52966e;
  }
  75% {
    box-shadow: 0px 0px 10px 0px #fa8e5c;
    background-color: #fa8e5c;
  }
  100% {
    box-shadow: 0px 0px 10px 0px #5c7cfa;
    background-color: #5c7cfa;
  }
}

.online {
  background-color: #5cfa9e;
}
.away {
  background-color: #9c9c9c;
}

.home-page-title {
  font-size: 5rem;
  padding-bottom: 40px;
  line-height: 1;
  font-weight: 800;
  font-family: "Work Sans", sans-serif;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background: -webkit-linear-gradient(5deg, #50c878 20%, #6949f7 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}.no-bottom-border{
  border-bottom: none !important;
  filter: none
  !important;
}

.hero,
.message,
.button, .input, .textarea{
  // border-radius: 0%;
  border-bottom: currentColor solid 4px;
  filter: drop-shadow(0px 0px 0.5rem rgb(37, 37, 37));
}
.button:hover{
  filter: drop-shadow(0px 0px 0.5rem rgb(100, 100, 100));
}
/* 
.card,
.box {
  border: #50c878 solid 1px;
  border-radius: 5px;
} */

input[type="checkbox"] {
  accent-color: $success;
}


.markdown-body .task-list-item {
  list-style-type: none !important;
}

.markdown-body .task-list-item input[type="checkbox"] {
  margin: 0 4px 0.25em -20px;
  vertical-align: middle;
}

.markdown-body .task-list-control {
  display: inline; /* Ensure label is inline incase theme sets it to block.*/
}

.markdown-body .task-list-control {
  position: relative;
  display: inline-block;
  color: #555;
  cursor: pointer;
}

.markdown-body .task-list-control input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1; /* Put the input behind the label so it doesn't overlay text */
}

.markdown-body .task-list-indicator {
  position: absolute;
  top: -8px;
  left: -18px;
  display: block;
  width:  14px;
  height: 14px;
  color: #eee;
  background-color: #eee;
  border-radius: .25rem;
}

.markdown-body .task-list-control input[type="checkbox"]:checked + .task-list-indicator::before {
  display: block;
  margin-top: -4px;
  margin-left: 2px;
  font-size: 16px;
  line-height: 1;
  content: "✔";
  color: #1EBB52;
}

