@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Base Colors
$primary: #00bcd4;
$black: #000000;
$dark: #121212;
$white: #fff;
$link: $primary;
$success: #51cf66;
$info: #5c7cfa;
$danger: #f03e3e;
$warning: #ffd43b;

$family-sans-serif: "Roboto", sans-serif;
$body-background-color: $black;
$body-color: $white;
$title-color: $white;
$subtitle-color: $white;
$navbar-background-color: $black;
$footer-background-color: $dark;
$card-background-color: $dark;
$card-color: $white;    
$box-background-color: $dark;
$box-color: $white;
$link-hover: $white;
$navbar-background-color: $dark;
$navbar-item-hover-color: $white;
$input-background-color: #4d535e;
$input-color: $white;
$navbar-item-color: $white;
$navbar-item-hover-background-color: $dark;
$navbar-dropdown-background-color: $dark;
$navbar-dropdown-color: $white;
$navbar-dropdown-hover-background-color: #616975;
$content-heading-color: $white;

$card-footer-padding: 0.15rem;
$card-radius: 0.5rem;
$card-media-margin: 0.25rem;
$code: $white;
$pre: $white;
$code-background: $black;
$pre-background: $black;

@import "../node_modules/bulma/bulma.sass";