{% extends 'core/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
Profile | Develope
{% endblock title %}
{% block content %}
<div class="card">
    <div class="card-content">
        <h1 class="title is-1 has-text-centered"><strong>Develope <i class="fas fa-terminal"></i></strong></h1>
        <h3 class="title is-3">Profile
            <i class="fas fa-user"></i>
        </h3>
        <p>
            Welcome to your profile.
            Here you can edit your profile.
        </p>
        <br>

        <form action="" method="post">
            <div class="box">
                <figure class="image is-48x48"><img src="{{user.profile.image.url}}" alt="user image" class="is-rounded">
                </figure>
                <span>User: </span><a href="{% url 'profile' %}">@{{ user.username }}</a>
                <h4 class="title is-4">{{ user.get_full_name }}</h4>
            </div>

            {% csrf_token %}
            {{form.as_p}}
            <br>
            <button type="submit" class="button is-success">Submit</button>
        </form>
        <script>
            inputs = document.querySelectorAll('input');
            for (i = 0; i < inputs.length; i++) {
        
                inputs[i].classList.add('input');
            }
        </script>
{% endblock content %}