{% extends 'core/base.html' %}
{% load static %}
{% load humanize %}
{% load mention %}
{% block title %}
New Project | Develope
{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>New Project</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="" method="post" class="form-horizontal">
                        {{form.as_p}}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    inputs = document.querySelectorAll('input');
            for (i = 0; i < inputs.length; i++) {
        
                inputs[i].classList.add('input');
            }
</script>
{% endblock content %}
