{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Advance Settings
{% endblock title %}

{% block content %}
<h1 class="title is-1 has-text-weight-bold has-text-centered">Advance Settings</h1>
<div class="columns">
    <div class="column">
        <div class="box has-background-primary has-text-centered">
            <h3 class="title is-3">📝 Change the username?</h3>

            <a href="{% url 'change_username' %}" class="button is-success is-inverted is-outlined">Change my
                username</a>

        </div>
    </div>
    <div class="column">
        <div class="box  has-background-info has-text-centered">
            <h3 class="title is-3">🔑 Change the password?</h3>

            <a href="{% url 'password_change' %}" class="button is-info is-inverted is-outlined">Change my password</a>
        </div>
    </div>
    <div class="column">
        <div class="box has-background-danger has-text-centered">
            <h3 class="title is-3">🚮 Delete Your Account?</h3>
            <a href="{% url 'delete_account' %}" class="button is-danger is-inverted is-outlined">Delete My Account</a>

        </div>
    </div>
</div>
{% endblock content %}