{% extends 'core/base.html' %}
{% load static %}
{% load bulma_tags %}


{% block title %}
Delete Account
{% endblock title %}
{% block no_padding %}
    {% include 'core/islands/header.html' with heading="Change Username" %}
    {% endblock no_padding %}

{% block content %}
<div class="card">
    <div class="card-content">
        <form action="." method="post">
            <p class="subtitle">Are you sure that you want to change your username?</p>
            {{form|bulma}}
            {% csrf_token %}
            <br>
            <br>
            <div class="buttons">
                <button type="submit" class="button is-success">Change my username</button>
                <a href="{% url 'home' %}" class="button is-ghost">No take me Home</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
