{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Follower
{% endblock title %}

{% block content %}
<h1 class="title is-1 has-text-weight-bold">Follower</h1>
<div class="columns">
    <div class="column is-7">
        {% if usr.profile.followed_by.all %}
        <div class="">
            <div id="data">
                {% for person in followers %}
                {% include 'core/extends/user_ext.html' with person=person.user %}
                {% endfor %}
            </div>
        </div>
        {% else %}
        <p>Not followed by anyone yet.</p>
        {% endif %}
        <br>
        <div class="pagination">
            <span class="step-links">
                {% if followers.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ followers.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current">
                    Page {{ followers.number }} of {{ followers.paginator.num_pages }}.
                </span>
                {% if followers.has_next %}
                <a href="?page={{ followers.next_page_number }}" class="next">next</a>
                <a href="?page={{ followers.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    <div class="column is-5">
        {% include 'core/extends/side_block.html' %}
    </div>
</div>
{% endblock content %}
{% block script %}
<script src="{% static 'js/scroll.js' %}"></script>
{% endblock script %}
    