{% extends 'core/base.html' %}
{% load static %}
{% block title %}
Following
{% endblock title %}


{% block content %}
<div class="columns">
    <div class="column">
        <h1 class="title">Following</h1>

        <div class="">
            <div class="columns">
                <div class="column">
                    {% if usr.profile.follows.all %}
                    {% for usr in usr.profile.follows.all %}
                    <div class="media">
                        <div class="media-left">
                            <article class="image is-48x48">
                                <img class="is-rounded" src="{{ usr.image.url }}">
                            </aritcle>
                        </div>
                        <div class="media-content">
                            {% if usr.user.get_full_name %}
                            <p class="title is-5">{{ usr.user.get_full_name | title }}</p>
                            {% else %}
                            <p class="title is-5">{{ usr.user.username | title }}</p>
                            {% endif %}
                            <a href="{% url 'profile_view' usr %}">
                                {{ usr | title }}
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p>Wow such empty 😞</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}