{% extends 'core/base.html' %}
{% load static %}
{% block title %}
Following
{% endblock title %}


{% block content %}
<h1 class="title is-1">Following</h1>
<div class="columns">
    <div class="column is-8">
        <div class="box">

            {% if usr.profile.follows.all %}


            {% for person in usr.profile.follows.all %}
            <div class="level">
                <div class="level-left">
                    <div class="media">
                        <div class="media-left">
                            <article class="image is-128x128">
                                <img src="{{ person.image.url }}" class="is-rounded" alt="">
                            </article>
                        </div>
                        <div class="media-right">
                            <div class="content">
                                <p>
                                <h4 class="title is-4">
                                    {% if person.user.get_full_name %}
                                    {{person.user.get_full_name.title}}
                                    {% else %}
                                    {{person.user.username.title}}
                                    {% endif %}
                                </h4>
                                <a href="{% url 'profile_view' person.user.username %}"
                                    class="href">@{{person.user.username}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="level-right is-hidden-mobile">
                    <a href="{% url 'profile_view' person.user.username %}" class="button is-success">View</a>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>Not following anyone yet.</p>
            {% endif %}
        </div>
    </div>
    <div class="column is-4">
        {% include 'accounts/extends/side_block.html' %}
    </div>
</div>
{% endblock content %}