{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Following
{% endblock title %}

{% block content %}
<h1 class="title is-1">Following</h1>
<div class="columns">
    <div class="column is-7">
        <div id="data">
            {% if usr.profile.follows.all %}
            <div class="">
                {% for person in followings %}
                {% include 'core/extends/user_ext.html' with person=person.user %}
                {% endfor %}
            </div>
            {% else %}
            <p>Not following anyone yet.</p>
            {% endif %}
        </div>
        <br>
      <div class="no-more"></div>
            <div id="spinner1" class="spinner has-text-centered">
                <div class="lds-ring">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        <div class="pagination">
            <span class="step-links">
                {% if followings.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ followings.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current">
                    Page {{ followings.number }} of {{ followings.paginator.num_pages }}.
                </span>
                {% if followings.has_next %}
                <a href="?page={{ followings.next_page_number }}" class="next">next</a>
                <a href="?page={{ followings.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    <div class="column is-5">
        {% include 'core/extends/side_block.html' %}
    </div>
</div>
{% endblock content %}
{% block script %}
<script src="{% static 'js/scroll.js' %}"></script>
{% endblock script %}
