{% extends 'core/base.html' %}
{% load static %}
{% block title %}
Follower
{% endblock title %}
{% block content %}
<h1 class="title is-1 has-text-weight-bold">Follower</h1>
<div class="columns">
    <div class="column is-7">
        <div class="box">
            {% if usr.profile.followed_by.all %}
            {% for person in followers %}
            <div class="level">
                <div class="level-left">
                    <div class="media">
                        <div class="media-left">
                            <article class="image is-128x128">
                                <img src="{{ person.image.url }}" class="is-rounded" alt="{{ person.user.username }}">
                            </article>
                        </div>
                        <div class="media-right">
                            <div class="content">
                                <p>
                                <p class="is-4-desktop is-6-mobile">
                                    {% if person.user.get_full_name %}
                                    {{person.user.get_full_name.title}}
                                    {% else %}
                                    {{person.user.username.title}}
                                    {% endif %}
                                </p>
                                <a href="{% url 'profile_view' person.user.username %}"
                                    class="href">@{{person.user.username}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="level-right is-hidden-mobile">
                    <a href="{% url 'profile_view' person.user.username %}" class="button is-success">View</a>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>Not followed by anyone yet.</p>
        
            {% endif %}
        </div>
            <div class="pagination">
                <span class="step-links">
                    {% if followers.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ followers.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="current">
                        Page {{ followers.number }} of {{ followers.paginator.num_pages }}.
                    </span>
                    {% if followers.has_next %}
                    <a href="?page={{ followers.next_page_number }}">next</a>
                    <a href="?page={{ followers.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
    </div>
    <div class="column is-5">
        {% include 'core/extends/side_block.html' %}
    </div>
</div>
{% endblock content %}