{% extends 'core/base.html' %}

{% block title %}
Your Profile
{% endblock title %}


{% block content %}
<div class="columns">
    <div class="column is-4 is-hidden-mobile">
        {% include 'core/extends/user_profile.html' with usr=user %}
    </div>
    <div class="column">
        <div class="box">
            <h1 class="title is-1 has-text-weight-bold has-text-centered is-underlined">Profile</h1>
            <form method="POST" enctype="multipart/form-data">
                {{ uform }}
                {{ pform }}
                {% csrf_token %}
                <br>
                <br>
                    <div class="buttons">
                        <button type="submit" class="button is-success">Save
                            💾
                        </button>
                        <a href="{% url 'advance_settings' %}" class="button is-link is-warning">Advance Settings 🔧</a>
                        {% if user.devprofile %}
                        <a href="{% url 'develop_dashboard' %}" class="button is-info">Develop Profile 💻</a>
                        {% endif %}
                    </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}