{% extends 'core/base.html' %}
{% load humanize %}
{% load mention %}
{% load convert_markdown %}
{% load static %}

{% block title %}
{{ usr.get_full_name }} (@{{ usr.username }})
{% endblock title %}

{% block meta %}
<!-- Facebook -->
<meta property="og:type" content="profile">
<meta property="og:image" content="{{ usr.profile.image.url }}">
<meta property="og:url" content="{% url 'profile_view' usr.username %}">
<meta property="og:title" content="{{ usr.get_full_name }} (@{{ usr.username }}) | Vitary">
<meta property="og:description" content="{{ usr.profile.bio }}">
<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:image" content="{{ usr.profile.image.url }}">
<meta property="twitter:url" content="{% url 'profile_view' usr.username %}">
<meta property="twitter:title" content="{{ usr.get_full_name }} (@{{ usr.username }}) | Vitary">
<meta property="twitter:description" content="{{ usr.profile.bio }}">
{% endblock meta %}

{% block content %}
<div class="columns">
    <div class="column is-7">
        <div class="card">
            {% if usr.profile.header_image %}
            <div class="card-image">
                <figure class="image 16by9">
                    <img src="{{usr.profile.header_image.url}}" alt="Placeholder image">
                </figure>
            </div>
            {% endif %}
            <div class="card-content">
                <figure class="image is-128x128">
                    <img src="{{ usr.profile.image.url }}" alt="{{ user }}" class="profile-img">
                </figure>
                <br>
                <div id="info">
                    <h3 class="title is-3 has-text-weight-medium" id="name">
                        {{ usr.get_full_name | default:usr.username }}
                        {% if usr.profile.verified %}
                        <span class="is-small" style="color: rgb(46, 206, 107);" title="Verified">
                            ✔️
                        </span>
                        {% endif %}
                    </h3>
                    <p class="subtitle has-text-weight-light">
                        @{{ usr.username }}
                        {% if usr.is_superuser %}
                        <span class="badge-white tag" title="Co-Founder ✔">
                            Co-Founder ✔️
                        </span>
                        {% endif %}
                        {% if usr.is_staff %}
                        <span class="badge-white tag" title="Staff ✔">
                            Staff ✔️
                        </span>
                        {% endif %}

                        {% for badge in usr.profile.badges.all %}
                        <a href="{% url 'badge' badge.id %}">
                            <span class="badge-{{badge.color}} tag is-{{badge.color}}" title="{{ badge.name }}">
                                {{ badge.name }}
                            </span>
                        </a>
                        {% endfor %}
                    </p>
                    {% if usr.devprofile %}
                    <p class="has-text-weight-light is-underlined">
                        Highlights
                    </p>
                    <a href="url">Developer 💻</a>
                    {% endif %}
                </div>

                <p class="content">
                    {{ usr.profile.bio | mention | safe | convert_markdown | urlize}}
                </p>
                <br>
                <span>
                    Followers: <a href="{% url 'followers' usr.username %}" id="follower_count">{{ usr.profile.follower_count }}</a>

                    Following: <a href="{% url 'following' usr.username %}">{{ usr.profile.following_count }}</a>
                </span>
                <br>
                <br>
                <div>
                    {% if user == usr %}
                    <div class="columns">
                        <div class="column">
                            <a href="{% url 'profile' %}" class="button is-success is-fullwidth">Edit Profile  📝</a>
                        </div>
                    </div>
                    {% else %}
                    {% if user.is_authenticated %}
                    {% include 'accounts/extends/follow_button.html' with usr=usr %}
                    {% else %}
                    <a href="{% url 'login' %}" class="button is-success">Follow ➕</a>
                    {% endif %}
                    {% endif %}
                    {% if not usr == user %}
                      <a href="{% url 'message_user' usr.username %}" class="button is-warning">Message  📨</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="data">
            {% for vit in vits %}
            {% include 'vit/extends/vit_block.html' %}
            {% endfor %}
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if vits.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ vits.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current">
                    Page {{ vits.number }} of {{ vits.paginator.num_pages }}.
                </span>
                {% if vits.has_next %}
                <a href="?page={{ vits.next_page_number }}" class="next">next</a>
                <a href="?page={{ vits.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    <div class="column is-5">
        {% include 'core/extends/side_block.html' %}
    </div>
    {% endblock content %}

    {% block script %}
    <script src="{% static 'js/scroll.js' %}"></script>
    {% endblock script %}
        
        