{% extends 'core/base.html' %}
{% load humanize %}
{% load static %}
{% block title %}
{{ usr.username | title }}
{% endblock title %}
{% block content %}
<div class="columns">
    <div class="column is-8">
        <div class="box">
            <figure class="image is-64x64">
                <img class="is-rounded" src="{{ usr.profile.image.url }}">
            </figure>
            {% if usr.get_full_name %}
            <p class="title is-4">{{ usr.get_full_name | title }}{% if usr.profile.verified %}
                <i class="fas fa-check-circle"></i>
                {% endif %}
                <br>
                <small class="small"><a>@{{usr.username}}</a></small>
            </p>
            {% else %}
            <p class="title is-4">{{ usr.username | title }}{% if usr.profile.verified %}
                <i class="fas fa-check-circle"></i>
                <br>
                {% endif %}
                <small><a>@{{usr.username}}</a></small>

            </p>
            {% endif %}
            <p>
                Followers: <a href="{% url 'followers' usr.username %}">{{ usr.profile.followed_by.count }}</a>
                <br>
                Following: <a href="{% url 'following' usr.username %}">{{ usr.profile.follows.count }}</a>
            </p>
            <br>
            <div class="buttons">


                {% if user == usr %}

                <a href="{% url 'profile' %}" class="button is-primary">Edit Profile  <i class="far fa-id-card"></i></a>
                {% else %}

                {% if not usr.profile in user.profile.follows.all %}
                <form action="{% url 'follow' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="username" value="{{ usr.username }}">
                    <button class="button is-success" type="submit">Follow  <i class="fas fa-plus"></i></button>
                </form>
                {% else %}
                <form action="{% url 'unfollow' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="username" value="{{ usr.username }}">
                    <button class="button is-success" type="submit">Unfollow  <i class="fas fa-minus"></i></button>
                </form>
                {% endif %}
                {% endif %}
                  <a href="{% url 'message_user' usr.username %}" class="button is-success">Message  <i class="far fa-comments"></i></a>
            </div>
        </div>
        {% for feed in usr.feeds.all %}
        {% include 'feed/extends/feed_block.html' %}
        {% endfor %}
    </div>
    <div class="column is-4">
        {% include 'accounts/extends/side_block.html' %}
    </div>
    {% endblock content %}


    {% block script %}
    <script>
        function like_feed(feed_id) {
            fetch("{% url 'like_feed' %}", {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'type': 'application/json'
                },
                body: JSON.stringify({
                    feed_id: parseInt(feed_id)
                })
            }).then(function (response) {
                return response.json();
            }).then(function (data) {
                if (data.status == 'success') {
                    var like_count = document.getElementById('like_count_' + feed_id);
                    like_count.innerHTML = data.like_count;
                    var like_count = document.getElementById('like_count_' + feed_id);
                    like_count.innerHTML = data.likes;
                }
            });
        }
    </script>
    {% endblock script %}