{% extends 'core/base.html' %}
{% load static %}
{% load bulma_tags %}
{% load socialaccount %}


{% block title %}
Sign Up
{% endblock title %}
{% block no_padding %}
    {% include 'core/islands/header.html' with heading="Authentication" %}
{% endblock no_padding %}
{% block content %}
<div class="columns is-vcentered" hx-boost="false">
    <div class="column">
        <h1 class="title is-1 has-text-weight-bold">Sign Up</h1>
        <p class="subtitle">Just Fill the Information Below to Get Started</p>
        <form method="POST">
            {{form|bulma}}
            {% csrf_token %}
            <br />
            <p class="subtitle">
                By creating an account, you agree to the
                <a href="/pages/terms/" target="_blank" referrerpolicy="signup">Terms And Conditions</a>
            </p>
            <p>Already have an account? <a href="{% url 'login' %}">Login 🔐</a></p>
            <br />
            <div class="buttons">

                <button type="submit" class="button is-large">
                    Sign Up 🚀
                </button>
                <a href='{% provider_login_url "github" %}' class="button is-light is-outlined is-large">
                    <span>
                        Signup With GitHub
                    </span>
                    <span class="icon">
                        <i class="bi bi-github"></i>
                    </span>
                </a>
            </div>
        </form>
    </div>
    <div class="column">
        <article class="image">
            <img src="{% static 'img/arabica-414.png' %}" alt="signup_hero" />
        </article>
        <p class="content has-text-centered">
            Illustration by
            <a href="https://icons8.com/illustrations/author/5c07e68d82bcbc0092519bb6">Icons 8</a>
            from <a href="https://icons8.com/illustrations">Ouch!</a>
        </p>
    </div>
</div>
{% endblock content %}