{% extends 'core/base.html' %}

{% block title %}
{{ group.name }}
{% endblock title %}


{% block content %}
<div class="columns">
    <div class="column is-7">
        <div class="box">
            {% if group.image %}
            <img src="{{ group.image.url }}" alt="{{ group.name }}" class="image is-128x128 profile-img">
            {% endif %}
            <h1 class="title is-1 has-text-weight-bold">{{ group.name }}</h1>
            {% if group.description %}
            <p>{{ group.description }}</p>
            {% endif %}
            <br>
            <br>

            {% if user in group.admin.all %}
            <div class="buttons">
                <a href="{% url 'group_edit' group.slug %}" class="button is-info">Edit Group</a>
                <a href="{% url 'group_delete' group.slug %}" class="button is-danger">Delete Group</a>
            </div>
            {% endif %}
            {% for invitation in user.invitations.all %}

            {% if invitation.group == group %}
            <div class="notification is-info">
                <p>You have been invited to join {{ group.name }}</p>
                <p>
                    <a href="{% url 'accept_invitation' group.slug invitation.id %}"
                        class="button is-success">Accept</a>
                    <a href="{% url 'decline_invitation' group.slug invitation.id %}"
                        class="button is-danger">Decline</a>
                </p>
            </div>
            {% endif %}

            {% endfor %}

        </div>
        <!-- Members -->
        <div class="box">
            <div class="level">
                <div class="level-left">
                    <h1 class="title is-1 has-text-weight-bold">Members</h1>
                </div>

                {% if user in group.admin.all %}
                <div class="level-right">
                    <button onclick="$('#add_member_modal').addClass('is-active');" class="button is-success">Add
                        Member</button>
                </div>
                {% endif %}
            </div>
            <table class="table is-fullwidth has-background-dark">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in group.members.all %}
                    <tr>
                        <td>{{ member.get_full_name }}</td>
                        <td>{{ member.email }}</td>

                        <td>
                            {% if user in group.admin.all and member != user %}
                            <a href="{% url 'remove_member' group.slug member.username %}"
                                class="button is-danger is-small">Remove Member</a>
                            {% elif member == user %}
                            <a href="{% url 'leave_group' group.slug %}" class="button is-danger is-small">Leave</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if user in group.admin.all %}
        <div class="modal" id="add_member_modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="card">
                    <div class="card-content">
                        <h1 class="title is-1 has-text-centered">Add Member</h1>
                        <p class="subtitle">Search the member by typing their username</p>
                        <div class="field">
                            <div class="control">
                                <input class="input" type="text" placeholder="Search" id="member_search">
                            </div>
                        </div>
                        <div class="box">
                            <table class="table is-fullwidth has-background-dark">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="member_search_results">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <button class="modal-close is-large" aria-label="close"
                    onclick="$('#add_member_modal').removeClass('is-active');"></button>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="column is-5">
        {% include 'core/extends/side_block.html' %}
    </div>
</div>
{% endblock content %}


{% block script %}
<script>
    $('#member_search').on('keyup', function () {
        var search = $(this).val();
        if (search.length > 0) {
            $.ajax({
                url: '/api/v1/users/search/',
                data: {
                    username: search
                },
                success: function (data) {
                    console.log(data);
                    $('#member_search_results').empty();
                    $.each(data.users, function (index, value) {
                        $('#member_search_results').append(
                            '<tr>' +
                            '<td>' + value.first_name + ' ' + value.last_name + '</td>' +
                            '<td>' + value.username + '</td>' +
                            '<td>' + value.email + '</td>' +
                            '<td>' +
                            '<a href="/accounts/group/{{ group.slug }}/invite/' + value.username + '" class="button is-success">Invite</a>' +
                            '</td>' +
                            '</tr>'
                        );
                    });
                }
            });
        }
    });
</script>
{% endblock script %}