{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Delete Account
{% endblock title %}

{% block content %}   
    <h1 class="title is-1 has-text-weight-bold">Delete Account</h1>
    <div class="card">
        <div class="card-content">
            <form action="." method="post">
            <h3 class="title is-3">Are you sure that you want to delete your account?</h3>
            <div class="buttons">
                <button type="submit" class="button is-danger">Delete My Account</button>
                <a href="{% url 'home' %}" class="button is-ghost">No take me Home</a>
            </div>
            </form>
            <br>
            <p class="content">
                <strong class="has-text-white">Note:</strong> This action is reversible.
                <br>
                <br>
                For permenant deletion, please contact us at <a href="mailto:feedarymail@gmail.com">email</a>.
            </p>
        </div>
    </div>
{% endblock content %}