{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Follower
{% endblock title %}

{% block no_padding %}
{% include 'core/islands/header.html' with heading="Follower" %}
{% endblock no_padding %}

{% block content %}
<h1 class="title">Followers</h1>
<div class="box">
    {% for person in followers %}
    {% include 'core/islands/user_ext.html' with person=person.user %}
    {% empty %}
    <p>Not followed by anyone yet.</p>
    {% endfor %}
</div>
{% include 'core/islands/pagination.html' with page=followers %}
{% endblock content %}