{% extends 'core/base.html' %}
{% load static %}
{% load bulma_tags %}


{% block title %}
Sign Up
{% endblock title %}
{% block content %}
<div class="columns is-vcentered" hx-boost="flase">
    <div class="column">
        <h1 class="title is-1 has-text-weight-bold">Sign Up</h1>
        <p class="subtitle">Just Fill the Information Below to Get Started</p>
        <form method="POST" class="box" id="signupForm">
            {{ form|bulma }}
            {% csrf_token %}
            <br />
            <p class="subtitle">
                By creating an account, you agree to the
                <a href="/pages/terms/" target="_blank" referrerpolicy="signup">Terms And Conditions</a>
            </p>
            <p>Already have an account? <a href="{% url 'login' %}">Login 🔐</a></p>
            <br />


            <button type="submit" class="button is-white is-fullwidth">
                Sign Up
            </button>

        </form>
    </div>
    <div class="column">
        <article class="image">
            <img src="{% static 'img/arabica-414.png' %}" alt="signup_hero" />
        </article>
        <p class="content has-text-centered">
            Illustration by
            <a href="https://icons8.com/illustrations/author/5c07e68d82bcbc0092519bb6">Icons 8</a>
            from <a href="https://icons8.com/illustrations">Ouch!</a>
        </p>
    </div>
</div>
{% endblock content %}


{% block script %}
<script>
    $(document).ready(function () {

        $("#signupForm").submit(function (e) {
            let errors = []
            e.preventDefault();
            var password1 = $('#id_password1').val();
            var password2 = $('#id_password2').val();
            console.log(password1);
            console.log(password2);
            if (password1 === password2) {
                errors = [];
                
            } else {
                createToast("Passwords are not matching!", extraStyles = "background-color: #C9373D");
                e.preventDefault();
                errors.push("Passwords are not matching!");
            }


            //Get the form data
            var formData = {
                'username': $('#id_username').val(),
            };

            // Make an AJAX request to the signup check API
            $.ajax({
                type: 'POST',
                url: '/api/action/signup/check/',  // Update with your actual URL
                data: formData,
                headers: {
                    "X-CSRFToken": '{{ csrf_token }}'
                },
                success: function (response) {
                    // Check the response from the API
                    if (response.valid && errors.length === 0) {
                        $("#signupForm")[0].submit();
                    }
                },
                error: function (error) {
                    console.log(error.responseJSON);
                    createToast(error.responseJSON.message, extraStyles = "background-color: #C9373D");
                }
            })
        })
    })
</script>
{% endblock script %}