{% extends 'core/base.html' %}
{% load humanize %}
{% load static %}
{% block title %}
Blog
{% endblock title %}
{% block content %}
<div class="columns">
    <div class="column is-8">
        <div class="box">
            <h1 class="title is-1">Blog 
                <i class="fas fa-blog"></i>
            </h1>
            {% for post in posts %}
            <div class="card article">
                <div class="card-content">
                    {% if post.cover_img %}
                    <article class="image is-16by9 block"><img src="{{ post.cover_img.url }}" alt=""></article>
                    {% endif %}
                    <div class="media">
                        <div class="media-center">
                            <article class="image is-48x48">
                                <img src="{{ post.user.profile.image.url }}" class="author-image is-rounded"
                                    alt="Placeholder image">
                            </article>
                        </div>
                        <div class="media-content has-text-centered">
                            <p class="title article-title">{{ post.title }}</p>
                            <p class="subtitle is-6 article-subtitle">
                                <a href="{% url 'profile_view' post.user.username %}">@{{post.user.username}}</a> {{ post.date | naturaltime }}
                            </p>
                        </div>
                    </div>
                    <div class="content article-body">
                        <p class="has-text-centered">{{ post.sdesc | truncatechars_html:190 }}</p>
                    </div>
                    <a href="{% url 'post_detail' post.slug %}" class="button is-success is-fullwidth">Read More</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ posts.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                </span>
                {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
                <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    <div class="column is-4">
        {% include 'accounts/extends/side_block.html' %}
    </div>
</div>
{% endblock content %}