{% extends 'core/base.html' %}
{% load humanize %}
{% load static %}
{% block title %}
Blog
{% endblock title %}
{% block content %}
<div class="columns">
    <div class="column is-7">
        <h1 class="title is-1 has-text-weight-bold">Blog</h1>
        <div class="">
            {% for post in posts %}
            <div class="card article">
                <div class="card-image">
                    {% if post.cover_img %}
                    <article class="image block"><img src="{{ post.cover_img.url }}" alt=""></article>
                    {% endif %}
                </div>
                <div class="card-content">

                    <div class="media">
                        <div class="media-center">
                            <article class="image is-48x48">
                                <img src="{{ post.user.profile.image.url }}" class="author-image profile-img mt-2"
                                    alt="Placeholder image">
                            </article>
                        </div>
                        <div class="media-content ml-3">
                            <p class="title article-title has-text-weight-bold">{{ post.title }}</p>
                            <p class="subtitle is-6 article-subtitle">
                                <a href="{% url 'profile_view' post.user.username %}">
                                    @{{post.user.username}}
                                </a>
                                {{ post.date | naturaltime }}
                            </p>
                        </div>
                    </div>
                    <div class="content article-body">
                        <p class="has-text-centered">{{ post.sdesc | truncatechars_html:190 }}</p>
                    </div>
                    <a href="{% url 'post_detail' post.slug %}" class="button is-info is-fullwidth">Read More 📖</a>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
        <br>
        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ posts.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                </span>
                {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
                <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    <div class="column is-5">
        {% include 'core/extends/side_block.html' %}
    </div>
</div>
{% endblock content %}