{% extends 'core/base.html' %}
{% load humanize %}
{% load static %}
{% block title %}
Blog
{% endblock title %}
{% block no_padding %}
{% include 'core/islands/header.html' with heading="Blog" %}
{% endblock no_padding %}
{% block content %}
<div class="columns is-multiline"  >
    {% for post in posts %}
    <div class="column is-6">
        <div class="card article">
            <div class="card-image">
                {% if post.cover_img %}
                <article class="image block is-16by9"><img src="{{ post.cover_img.url }}" alt="post-image"></article>
                {% endif %}
            </div>
            <div class="card-content">

                <div class="media">
                    <div class="media-center">
                        <article class="image is-48x48">
                            <img src="{{ post.user.profile.get_image_url }}"
                                class="author-image is-rounded {{post.user.profile.status}}" alt="Placeholder image">
                        </article>
                    </div>
                    <div class="media-content ml-3">
                        <p class="title article-title has-text-weight-light">{{ post.title }}</p>
                        <p class="subtitle is-6 article-subtitle">
                            {{ post.user.get_full_name }}

                            <a href="{% url 'user_detail' post.user.username %}">
                                @{{post.user.username}}
                            </a>
                            {{ post.date | naturaltime }}
                        </p>
                    </div>
                </div>
                <div class="content article-body">
                    <p class="content mt-3 mx-6">{{ post.sdesc }}</p>
                </div>
                <a href="{% url 'post_detail' post.slug %}" class="button is-info  is-fullwidth">Read More 📖</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p class="subtitle">No Blog posts yet!</p>
    {% endfor %}
</div>
{% include 'core/islands/pagination.html' with page=posts %}
{% endblock content %}