{% extends 'core/base.html' %}
{% load humanize %}
{% load static %}
{% block title %}
{{ post.title }}
{% endblock title %}
{% block content %}
<div class="media">
    <br>
    <div class="media-content">
        <article class="">
            <img src="{{ post.cover_img.url }}" alt="img" height="400" width="1000">
        </article>
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <a href="{% url 'profile_view' post.user.user.username %}">
                        <img class="is-rounded" src="{{ post.user.image.url }}" alt="{{ post.user.user.username">
                    </a>
                </figure>
            </div>
            <div class="media-left">

                <h3 class="title is-3">{{ post.title }}</h3>
                <p>
                {{ post.date | naturaltime }} By <a href="{% url 'profile_view' post.user.user.username %}">
                {{post.user.user.username.title }}</a>
            </p>
            </div>
        </div>
        <hr>
        <div class="content">
        <p>{{ post.body }}</p>
    </div>
    </div>
</div>
{% endblock content %}