{% extends "admin/base.html" %}

{% load static %}
{% block extrahead %}
<link rel="icon" href="{% static 'img/favicon.ico' %}" sizes="48x48" />
{% endblock %}
{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'img/logo.png' %}" height="40px" alt="logo" />
        {{ site_header|default:_('Django site admin') }}
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}