{% load humanize %}


{% if request.path != "/feed/" %}
<div class="box">
    <a href="{% url 'add_vit' %}" class="button is-primary is-fullwidth is-large">Add Vit ➕</a>
</div>
{% endif %}
{% if related_persons %}
<div class="card is-hidden-mobile">
    <div class="card-content">
        <h3 class="title is-3">Related Persons</h3>
        {% for related_person in related_persons %}
        <div class="media">
            <div class="media-left">
                <a href="{% url 'user_detail' related_person.username %}">
                    <article class="image is-32x32 is-square">
                        <img src="{{ related_person.profile.image.url }}" alt="" class="is-rounded">
                    </article>
                </a>
            </div>
            <div class="media-content">
                <h4 class="title is-4 is-small">
                    {{ related_person.get_full_name }}
                </h4>
                <p class="is-6 subtitle">
                    <a href="{% url 'user_detail' related_person.username %}">
                        @{{ related_person.username }}
                    </a>
                </p>
            </div>
            <div class="media-right">
                {% if user == related_person %}

                <a href="{% url 'edit_profile' %}" class="button is-link is-small">Edit Profile  📝</a>
                {% else %}
                {% include 'accounts/islands/follow_button.html' with usr=related_person small=True %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<br>
{% endif %}
<div class="card is-hidden-mobile">
    <div class="card-content">
        {% if user.is_authenticated %}
        <h1 class="title">
            Follower ({{ user.profile.followed_by.all | length }})
        </h1>
        <br>
        {% if user.profile.followed_by.all %}
        {% for following in user.profile.get_4_following %}
        <div class="media">
            <div class="media-left">
                <article class="image is-48x48 is-square">
                    <img src="{{ following.image.url }}" alt="." class="is-rounded {{following.status}}">
                </article>
            </div>
            <div class="media-content">
                <h4 class="title is-4">
                    <strong>
                        {{ following.user.get_full_name }}
                        {% if following.verified %}
                        <span class="is-small tag is-dark" style="color: rgb(46, 206, 107);">
                            ✔️
                        </span>
                        {% endif %}
                    </strong>
                </h4>
                <p class="subtitle is-6">
                    <a href="{% url 'user_detail' following %}">
                        @{{ following.user.username }}
                    </a>
                </p>
            </div>
            <br>
        </div>
        {% endfor %}
        <p><a href="{% url 'followers' %}" class="tag is-link">See All</a></p>
        {% else %}
        No one is following you yet.
        {% endif %}
        <hr>
        <h1 class="title">
            Following ({{ user.profile.follows.all | length }})
        </h1>
        <br>
        {% if user.profile.follows.all %}
        {% for follower in user.profile.get_4_followers %}
        <div class="media">
            <div class="media-left">
                <article class="image is-48x48 is-square">
                    <img src="{{ follower.image.url }}" alt="." class="is-rounded {{follower.status}}">
                </article>
            </div>
            <div class="media-content">
                <h4 class="title is-4">
                    <strong>
                        {{ follower.user.get_full_name }}
                        {% if follower.verified %}
                        <span class="tag is-small is-dark" style="color: rgb(46, 206, 107);">
                            ✔️
                        </span>
                        {% endif %}
                    </strong>
                </h4>
                <p class="subtitle is-6">
                    <a href="{% url 'user_detail' follower %}">
                        @{{ follower.user.username}}
                    </a>
                </p>
            </div>
            <br>
        </div>
        {% endfor %}
        <p><a href="{% url 'following' %}" class="tag is-link">See All</a></p>
        {% else %}
        You are not following anyone yet.
        {% endif %}

        {% else %}
        <h1 class="title has-text-weight-bold">Follower</h1>
        <br>
        <p>You need to <a href="{% url 'login' %}">login</a> to see your followers.</p>

        <hr>
        <h1 class="title has-text-weight-bold">Following</h1>
        <br>
        <p>You need to <a href="{% url 'login' %}">login</a> to see your following.</p>
        <hr>
        <div class="buttons">
            <a href="{% url 'signup' %}" class="button is-fullwidth">Sign Up 🚀</a>
            <a href="{% url 'login' %}" class="button is-info is-fullwidth ">Login 🔐</a>
        </div>
        {% endif %}
    </div>
</div>