{% load humanize %}

    <div class="card is-hidden-mobile">
        <div class="card-content">
        {% if user.is_authenticated %}
        <h1 class="title">
            Follower ({{ user.userprofile.followed_by.all | length }})
        </h1>
        <br>
        {% if user.userprofile.followed_by.all %}
        {% for following in user.userprofile.get_4_following %}
        <div class="media">
            <div class="media-left">
                <article class="image is-48x48 is-square">
                    <img src="{{ following.avatar }}" alt="." class="is-rounded {{following.status}}">
                </article>
            </div>
            <div class="media-content">
                <h4 class="title is-4">
                    <strong>
                        {% firstof following.user.get_short_name following.user.username %}
                        {% if following.verified %}
                        <span class="is-small tag is-dark" style="color: rgb(46, 206, 107);">
                            ✔️
                        </span>
                        {% endif %}
                    </strong>
                </h4>
                <p class="subtitle is-6">
                    <a href="{% url 'user_detail' following %}">
                        @{{ following.user.username }}
                    </a>
                </p>
            </div>
            <br>
        </div>
        {% endfor %}
        <p><a href="{% url 'followers' user %}" class="tag is-link">See All</a></p>
        {% else %}
        No one is following you yet.
        {% endif %}
        <hr>
        <h1 class="title">
            Following ({{ user.userprofile.follows.all | length }})
        </h1>
        <br>
        {% if user.userprofile.follows.all %}
        {% for follower in user.userprofile.get_4_followers %}
        <div class="media">
            <div class="media-left">
                <article class="image is-48x48 is-square">
                    <img src="{{ follower.avatar }}" alt="." class="is-rounded {{follower.status}}">
                </article>
            </div>
            <div class="media-content">
                <h4 class="title is-4">
                    <strong>
                        {% firstof follower.user.get_short_name follower.user.get_username %}
                        {% if follower.verified %}
                        <span class="tag is-small is-dark" style="color: rgb(46, 206, 107);">
                            ✔️
                        </span>
                        {% endif %}
                    </strong>
                </h4>
                <p class="subtitle is-6">
                    <a href="{% url 'user_detail' follower %}">
                        @{{ follower.user.username}}
                    </a>
                </p>
            </div>
            <br>
        </div>
        {% endfor %}
        <p><a href="{% url 'following' user %}" class="tag is-link">See All</a></p>
        {% else %}
        You are not following anyone yet.
        {% endif %}
        
        {% else %}
        <h1 class="title has-text-weight-bold">Follower</h1>
        <br>
        <p>You need to <a href="{% url 'login' %}">login</a> to see your followers.</p>
        
        <hr>
        <h1 class="title has-text-weight-bold">Following</h1>
        <br>
        <p>You need to <a href="{% url 'login' %}">login</a> to see your following.</p>
        <hr>
        <div class="buttons">
            <a href="{% url 'signup' %}" class="button is-fullwidth is-white special-dark">Sign Up</a>
            <a href="{% url 'login' %}" class="button is-fullwidth ">
                <span class="icon"><i class="bi bi-joystick"></i></span>
                <span>Login</span>
            </a>
        </div>
        {% endif %}
    </div>
</div>