{% load humanize %}
{% load mention %}
{% load convert_markdown %}

<div class="card">
    {% if usr.userprofile.header_image %}
    <div class="card-image">
        <figure class="image 16by9">
            <img src="{{usr.userprofile.header_image.url}}" alt="Placeholder image">
        </figure>
    </div>
    {% endif %}
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-96x96">
                    <img class="is-rounded {% if usr.userprofile.header_image %} is-rounded-page {% endif %}  {{ usr.userprofile.status }}"
                        src="{{ usr.userprofile.avatar }}" title="{{ usr.userprofile.status.title }}">
                </figure>
            </div>
        </div>
        <h4 class="title is-4 has-text-weight-medium">{% firstof usr.get_full_name usr.username %}
            {% if usr.userprofile.verified %}
            <span class="is-small" style="color: rgb(46, 206, 107);">
                ✔️
            </span>
            {% endif %}
        </h4>
        <p class="subtitle is-6"><a href="{% url 'user_detail' usr.username %}">@{{usr.username}}</a>
            <br>
            <br>
            {% if usr.is_superuser %}
            <span class="tag badge-white">Admin ✔️</span>
            {% endif %}
            {% if usr.is_staff %}
            <span class="tag badge-white">Staff ✔️</span>
            {% endif %}

            {% for badge in usr.userprofile.badges.all %}
            <a href="{% url 'badge' badge.id %}"><span class="tag is-{{badge.color}} badge-{{ badge.color }}">
                    {{ badge.name }}
                </span>
            </a>
            {% endfor %}
        </p>

        <p class="content">
            {{ usr.userprofile.bio | user_mention | safe | convert_markdown }}
        </p>
    </div>
</div>
<br>

{% for feed in feeds %}
{% include 'feed/islands/feed_block.html' %}
{% empty %}
{% endfor %}
{% include 'core/islands/pagination.html' with page=feeds %}