{% load mention %}
{% load convert_markdown %}
<div class="media item">
    <div class="media-left">
        <article class="image is-48x48 is-square">
            <a href="{% url 'profile_view' person %}">
                <img src="{{ person.profile.image.url }}" alt="user-image" class="is-rounded profile-img">
            </a>
        </article>
    </div>
    <div class="media-content">

                <span>

                    <a href="{% url 'profile_view' person %}" class="has-text-white">
                        {{ person.get_full_name }}
                    </a>
                </span>
                {% if person.profile.verified %}
                <span class="tag is-dark is-small" title="Verified">
                    ✔️
                </span>
                {% endif %}

                {% if person.bot %}
                <span class="is-small" style="color: rgb(46, 206, 107);">
                    🤖
                </span>
                {% endif %}


        <p class="subtitle is-6"><a href="{% url 'profile_view' person %}">
                <small class="small my-0">
                    @{{ person.username }}
                </small>
            </a>
        </p>
        <div class="content">
            {{ person.profile.bio | safe | mention | convert_markdown }}
        </div>
    </div>
    <div class="media-right">

        {% if user.is_authenticated %}
        {% if user == person %}
        <a href="{% url 'profile_view' person.username %}"
            class="button is-small is-white is-outlined is-pulled-right"><span>View</span> <span
            class="icon">👀</span></a>
        {% else %}
        {% include 'accounts/extends/follow_button.html' with usr=person small=True %}
        {% endif %}
        {% else %}
        <a href="{% url 'profile_view' person.username %}"
            class="button is-small is-white is-outlined is-pulled-right"><span>View</span> <span
                class="icon">👀</span></a>
        {% endif %}
    </div>
    <br>
</div>