{% load mention %}
{% load fetch_gravatar %}

{% load convert_markdown %}
<div class="media item">
    <div class="media-left">
        <article class="image is-48x48">
            <a href="{% url 'user_detail' person %}">
                <img src="{{ person.userprofile.avatar }}" alt="{{person.username}}'s userprofile picture" class="is-rounded {{ person.userprofile.status }}">
            </a>
        </article>
    </div>
    <div class="media-content">
        <span>
            <strong>
                <a href="{% url 'user_detail' person %}">
                    {{ person.get_full_name }}
                </a>
            </strong>
        </span>
        {% if person.userprofile.verified %}
        <span class="tag is-dark is-small" title="Verified">
            ✔️
        </span>
        {% endif %}

        {% if person.bot %}
        <span class="is-small tag is-link" style="color: rgb(46, 206, 107);">
            🤖
        </span>
        {% endif %}


        <p class="subtitle is-6"><a href="{% url 'user_detail' person %}">
                <small class="small my-0">
                    @{{ person.username }}
                </small>
            </a>
        </p>
        <div class="content is-hidden-mobile">
            {% autoescape off %}
            {{ person.userprofile.bio| user_mention | convert_markdown }}
            {% endautoescape %}
        </div>
    </div>
    <div class="media-right">

        {% if user.is_authenticated %}
        {% if user == person %}
        <a href="{% url 'user_detail' person.username %}"
            class="button is-small is-pulled-right"><span>View</span> <span
                class="icon">👀</span></a>
        {% else %}
        {% include 'account/islands/follow_button.html' with usr=person small=True %}
        {% endif %}
        {% else %}
        <a href="{% url 'user_detail' person.username %}"
            class="button is-small is-pulled-right"><span>View</span> <span
                class="icon">👀</span></a>
        {% endif %}
    </div>
    <br>
</div>