{% load humanize %}
{% load mention %}
{% load convert_markdown %}

<div class="card">
    {% if usr.profile.header_image %}
    <div class="card-image">
        <figure class="image 16by9">
            <img src="{{usr.profile.header_image.url}}" alt="Placeholder image">
        </figure>
    </div>
    {% endif %}
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-96x96">
                    <img class="is-rounded {% if usr.profile.header_image %} is-rounded-page {% endif %}  {{ usr.profile.status }}" src="{{ usr.profile.get_image_url }}" title="{{ usr.profile.status.title }}">
                </figure>
            </div>
        </div>
        <h4 class="title is-4 has-text-weight-medium">{{ usr.get_full_name |default:usr.username }}
            {% if usr.profile.verified %}
            <span class="is-small" style="color: rgb(46, 206, 107);">
                ✔️
            </span>
            {% endif %}
        </h4>
        <p class="subtitle is-6"><a href="{% url 'user_detail' usr.username %}">@{{usr.username}}</a>
            <br>
            <br>
            {% if usr.is_superuser %}
            <span class="tag badge-white">Admin ✔️</span>
            {% endif %}
            {% if usr.is_staff %}
            <span class="tag badge-white">Staff ✔️</span>
            {% endif %}

            {% for badge in usr.profile.badges.all %}
            <a href="{% url 'badge' badge.id %}"><span class="tag is-{{badge.color}} badge-{{ badge.color }}">
                    {{ badge.name }}
                </span>
            </a>
            {% endfor %}

            {% if usr.devprofile %}
            <hr>
        <p class="has-text-weight-light">
            Highlights
        </p>
        <a href="{% url 'developer_home' %}">Developer 💻</a>
        <hr>
        {% endif %}

        </p>

        <p class="content">
            {{ usr.profile.bio | mention | safe | convert_markdown }}
        </p>
    </div>
</div>