{% load humanize %}

    
{% if request.path != "/home/" %}

<div class="card">
<div class="card-content">
    <div class="buttons">
        <a href="{% url 'add_vit' %}" class="button is-success is-rounded is-fullwidth">Add Vit  ➕</a>
    </div>
</div>
</div>
<br>
    
{% endif %}
<div class="card">
    <div class="card-header"><h1 class="card-header-title title">Latest</h1></div>
    <div class="card-content">
        
        {% for latest_vit in latest_vits %}
        
            <a href="{% url 'profile_view' latest_vit.user.username %}">{{ latest_vit.user }}</a>: <a href="{{ latest_vit.get_absolute_url }}">{{latest_vit.body | truncatechars_html:40}}</a> {{ latest_vit.date | naturaltime }}
            <br>
        {% endfor %}
            
    </div>
</div>
<br>
{% if user.is_authenticated %}
<div class="card is-hidden-mobile">
    <div class="card-content">
        <h1 class="title">Follower ({{ user.profile.followed_by.all | length }})</h1>
        <br>
    {% if user.profile.followed_by.all %}
        {% for following in user.profile.get_4_following %}
        <div class="media">
            <article class="image is-48x48 media-left">
                <img src="{{ following.image.url }}" alt="" class="is-rounded">
            </article>
            <a href="{% url 'profile_view' following %}" class="media-right">{{ following | title }}</a>
            <br>
        </div>
        {% endfor %}
        <p><a href="{% url 'followers' %}">See All</a></p>
        {% else %}
        No one is following you yet 🎈.
        {% endif %}
        <hr>
        <h1 class="title">Following ({{ user.profile.follows.all | length }})</h1>
        <br>
        {% if user.profile.follows.all %}
        {% for follower in user.profile.get_4_followers %}
        
        <div class="media">
            <article class="image is-48x48 media-left">
                <img src="{{ follower.image.url }}" alt="" class="is-rounded">
            </article>
            <a href="{% url 'profile_view' follower %}" class="media-right">{{ follower | title }}</a>
            <br>
        </div>
        {% endfor %}
        <p><a href="{% url 'following' %}">See All</a></p>
        {% else %}
        You are not following anyone yet 🎆.
        {% endif %}
    </div>
</div>
{% else %}
<div class="card is-hidden-mobile">
    <div class="card-content">
        <h1 class="title">Follower</h1>
        <br>
        <p>You need to login to see your followers.</p>

        <hr>
        <h1 class="title">Following</h1>
        <br>
        <p>You need to login to see your following.</p>
        <hr>
        <div class="buttons">
            <a href="{% url 'login' %}" class="button is-primary is-fullwidth is-rounded">Login</a>
            <a href="{% url 'signup' %}" class="button is-success is-fullwidth is-rounded">Register</a>
        </div>
    </div>
{% endif %}