{% extends 'core/base.html' %}
{% load humanize %}
{% load static %}

{% block title %}
Message: {{to_user.username}}
{% endblock title %}

{% block content %}
<div class="media box">
    <div class="media-left">
        <figure class="image is-48x48">
            <img src="{{ to_user.profile.image.url }}" alt="Profile Image" class="is-rounded">
        </figure>
    </div>
    <div class="media-content">
        <h5 class="title is-5">{{ to_user.get_full_name }}</h5>
        <p class="subtitle"><a href="{% url 'user_detail' to_user.username %}">@{{to_user.username }}</a></p>
    </div>
</div>
<div id="message-log" class="box" style="overflow: scroll;">
    <div class="has-text-centered">
        <p>Please wait loading the messages</p>
        <span class="button is-loading"></span>
    </div>
</div>

<div class="field has-addons">
    <div class="control is-expanded">
        <input name="message" required id="message-input" cols="30" rows="10" class="input"
            placeholder="Type a message..."></input>
    </div>
    <div class="control">
        <button class="button" onclick="sendMessage()" id="button-send">Send ✈</button>
    </div>
</div>
{{ to_user.username | json_script:"user-name"}}
{{ chat.id | json_script:"chat-id"}}
{% endblock content %}

{% block script %}
<script>
    let times_pinged = 0;
    function getMessages() {
        $.ajax({
            type: 'GET',
            url: "/api/v1/chat/get_message/?to_user={{to_user.username}}",
            success: function (response) {
                console.log(response);
                $("#message-log").empty();
                for (var key in response['messages']) {
                    var message_block = `
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="/u/${response.messages[key].created_by__username}.png" alt="Profile Image" class="is-rounded">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p><b><a href="/u/${response.messages[key].created_by__username}">${response.messages[key].created_by__first_name} ${response.messages[key].created_by__last_name}</b></a>
                               <br>
                                ${response['messages'][key]['message']}</p>
                                <small class='time-left'>${response.messages[key].created_at.slice(11, -8)} GMT</small>
                        </div>
                    </div>
                    `;
                    $("#message-log").append(message_block);
                    // Scroll to the bottom
                }
                $("#message-input").focus();
                times_pinged = times_pinged + 1;
                if (times_pinged == 1) {
                    $("#message-log").scrollTop($("#message-log")[0].scrollHeight);
                }

            },
            error: function (response) {
                console.log(response);
                console.log("Error");
            }
        });
    }
    $(document).ready(function () {
        getMessages()
        setInterval(function () {
            getMessages()
        }, 30000);
        // Ping every 30sec
    });
    document.getElementById("message-input").addEventListener("keyup", function (event) {
        event.preventDefault();
        if (event.keyCode === 13) {
            sendMessage();
        }
    });
    function convertHTML(input) {
        // A simple script to convert the data
        input = input.replace(/>/g, '&gt;');
        input = input.replace(/</g, '&lt;');

        return input;
    }
    function sendMessage() {
        if (document.getElementById('message-input').value != '') {
            var htmlString = convertHTML(document.getElementById('message-input').value);
            $('#button-send').addClass('is-loading');
            fetch('/api/v1/chat/send_message/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'to_user': '{{to_user.username}}',
                    'message': htmlString,
                    'chat_id': '{{chat.id}}'
                })
            }).then(function (response) {
                return response.json();
            }).then(function (data) {
                if (data.status === 'success') {
                    $('#button-send').removeClass('is-loading');
                    getMessages();
                    document.getElementById('message-input').value = '';
                }
            });
        }
        else {
            alert("Please enter a message");
        }
    }
</script>
{% endblock script %}