{% extends 'core/base.html' %}
{% load humanize %}
{% load static %}

{% block title %}
Message: {{to_user.username.title}}
{% endblock title %}

{% block content %}

<h1 class="title">Message: <a href="{% url 'profile_view' to_user.username %}">{{to_user.username.title}}</a></h1>
<div class="columns">
    <div class="column is-8">
        <div id="message-log" class="box">
            
            <p>Please wait loading the messages</p>
                
        </div>
        <input name="message" id="message-input" cols="30" rows="10" class="input" placeholder="Type a message..."></input>
        <br>
        <br>
        <button class="button is-success" onclick="sendMessage()" id="button-send">Send</button>
        {{ to_user.username | json_script:"user-name"}}
        {{ chat.id | json_script:"chat-id"}}
    </div>
    <div class="column is-4">
        {% include 'accounts/extends/side_block.html' %}
    </div>
</div>
<script>
    var connected = true;
    $(document).ready(function () {

        setInterval(function () {
            $.ajax({
                type: 'GET',
                url: "/api/v1/chat/get_message/?to_user={{to_user.username}}",
                success: function (response) {
                    console.log(response);
                    $("#message-log").empty();
                    for (var key in response['messages']) {
                        var temp = "<div class='container darker'><b>" + response.messages[key].created_by__username + "</b><p>" + response.messages[key].message + "</p><span class='time-left'>" + response.messages[key].created_at.slice(11, -3) + "</span></div>";
                        $("#message-log").append(temp);
                    }
                    $("#message-input").focus();
                },
                error: function (response) {
                    console.log(response);
                    console.log("Error");
                }
            });
        }, 1000);
    });
    document.getElementById("message-input").addEventListener("keyup", function (event) {
        event.preventDefault();
        if (event.keyCode === 13) {
            sendMessage();
        }
    });
    function convertHTML(input)
{
  input = input.replace(/>/g, '&gt;');
  input = input.replace(/</g, '&lt;');

  return input;
}
    function sendMessage() {
        if (document.getElementById('message-input').value != '') {
            var htmlString = convertHTML(document.getElementById('message-input').value);
            fetch('/api/v1/chat/send_message/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'to_user': '{{to_user.username}}',
                    'message': htmlString,
                    'chat_id': '{{chat.id}}'
                })
            }).then(function (response) {
                return response.json();
            }).then(function (data) {
                if (data.status === 'success') {
                    document.getElementById('message-input').value = '';
                }
            });
        }
        else {
            alert("Please enter a message");
        }
    }
</script>


{% endblock content %}