<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<style>
    body {
        font-family: 'Roboto', sans-serif;
    }
</style>

<body>

    {{ from.username.title }} wrote
    <blockquote>
        <p>{{ vit.body }}</p>
    </blockquote>
    <br>
    <br>
    You are reciving this email because you have Send Email Notification turned on on our site.
    <br>
    <br>
    Thanks for using our site!
    <br>
    <br>
    The Vitary team
</body>

</html>