{% load humanize %}

{% load mention %}
{% load convert_markdown %}
<div class="media">
    <div class="media-left">
        <figure class="image is-48x48 is-square">
            <img src="{{ comment.user.profile.image.url }}" alt="{{comment.user}}" class="">
        </figure>
    </div>
    <div class="media-content">
        <div>
            <p>
                <span>
                    <strong>
                        {{ comment.user.get_full_name| default:comment.user.username }}
                    </strong>
                    aka
                    <a href="{% url 'profile_view' comment.user.username %}">
                        @{{ comment.user }}
                    </a>
                </span>
                <br>
                <small title="{{ comment.date }}" class="tag is-black">
                    {{ comment.date | naturaltime }}
                </small>
                <br>
                <p class="content" style="overflow-y: scroll;">
                    {{ comment.body | safe | mention | convert_markdown }}
                </p>
            </p>
        </div>
    </div>
</div>