{% if user.is_authenticated %}
<div class="card" id="comments">
    <div class="card-header">
        <div class="card-header-title">
            <h1 class="title has-text-white">Comments ({{ vit.comment_set.count }})</h1>
        </div>
    </div>
    <hr>
    <div class="card-content">
        {% include 'vit/islands/comment_form.html' %}
    </div>
</div>
{% else %}
<p class="subtitle">
    Please <a href="{% url 'login' %}?next={% url 'vit_detail' vit.id %}">Login</a> to comment.
</p>
{% endif %}

<br>
{% if vit.comment_set.count %}

<div class="box">
    {% for comment in vit.comment_set.all %}
    {% if not comment.reply_to %}
    {% include 'vit/islands/comment_block.html' %}
    {% endif %}
    {% endfor %}
</div>

{% endif %}