{% load humanize %} {% load mention %} {% load convert_markdown %}

<div class="media item" style="overflow-y: hidden">
  <div class="media-left">
    <figure class="image is-48x48 is-square">
      <img
        src="{{ comment.user.profile.get_image_url }}"
        alt="{{comment.user}}"
        class="is-rounded {{ user.profile.status }}"
      />
    </figure>
  </div>

  <div class="media-content">
    <span>
      <strong>
        {{ comment.user.get_full_name| default:comment.user.username }}
      </strong>
      aka
      <a href="{% url 'user_detail' comment.user.username %}">
        @{{ comment.user }}
      </a>
    </span>
    <br />
    <small title="{{ comment.date }}" class="tag is-black">
      {{ comment.date | naturaltime }}
    </small>
    <div class="content pt-3" style="overflow-x: auto; overflow-y: hidden">
      {{ comment.body | striptags | mention | convert_markdown | safe }}
    </div>
    {% if user.is_authenticated %}
    <a
      href="#"
      hx-get="{% url '_comment_form' %}?comment_id={{ comment.id }}"
      hx-swap="outerHTML"
      ><span>Reply</span
      ><span class="icon"><i class="bi bi-reply-fill"></i></span
    ></a>
    {% else %}
    <p>
      Please
      <a href="{% url 'login' %}?next={% url 'vit_detail' vit.id %}">Login</a>
      to comment.
    </p>
    {% endif %} {% for reply in comment.replies.all %} {% if recursion < 3 %} 
    {% include 'vit/islands/comment_block.html' with comment=reply is_reply=True recursion=recursion|add:1 %} {% else %}
    <a href="{% url 'view_comment' vit.id comment.id %}">View More</a>
    {% endif %} {% endfor %}
  </div>
</div>
