<form method="POST" hx-boost="false">
    {% csrf_token %}
    {% if comment_id %}
    <input type="hidden" name="comment_id" value="{{comment_id}}">
    {% endif %}
    <div class="field">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <a href="{% url 'user_detail' user.username %}">
                        <img src="{{ user.profile.image.url }}" alt="{{user}}"
                            class="is-rounded {{ user.profile.status }}">
                    </a>
                </figure>
            </div>
            <div class="media-content">
                <div class="field">
                    <p class="control">
                        <textarea class="textarea" name="body" required
                            placeholder="Write Comment here, Use mentions and markdown"></textarea>
                    <p class="help"><a href="https://www.markdownguide.org/" target="_blank">
                            Styling with Markdown is supported
                        </a>
                    </p>
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <button type="submit" class="button is-primary">
                            <span>Submit</span>
                            <span class="icon">✔️</span>
                            </span>
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</form>