{% load static %}
{% load mention %}
{% load convert_markdown %}
{% load media_tag %}
{% load plustag %}

{% load humanize %}
<div class="card item mb-4" id="vit-{{ vit.pk }}" >
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48 is-square">
                    <img class="is-rounded {{ vit.user.profile.status }}" src="{{ vit.user.profile.image.url }}"
                        alt="{{ user.username }}" loading="lazy">
                </figure>
            </div>
            <div class="media-content">
                <h5 style="word-break: all;"><b>{{ vit.user.get_full_name }}</b>{% if vit.user.profile.verified %}
                    <span class="tag is-dark is-small" title="Verified">
                        <span class="icon">
                            ✔️
                        </span>
                    </span>
                    {% endif %}
                </h5>
                <p class="subtitle is-6"><a href="{% url 'user_detail' vit.user.username %}"
                        title="{{ vit.user.get_full_name }}">@{{vit.user.username}}</a>
                    {% if vit.user.is_superuser %}
                    <span class="tag px-1 mt-1" title="Co-Founder ✔">Co-Founder ✔️</span>
                    {% endif %}
                    {% if vit.user.is_staff %}
                    <span class="tag px-1 mt-1" title="Staff ✔">Staff ✔️</span>
                    {% endif %}
                    <span class="is-hidden-mobile">
                        {% for badge in vit.user.profile.badges.all %}
                        <a href="{% url 'badge' badge.id %}">
                            <span class="badge-{{badge.color}} mx-1 tag is-{{badge.color}}" title="{{ badge.name }}">
                                {{ badge.name }}
                            </span>
                        </a>
                        {% endfor %}
                    </span>
                    {% if vit.nsfw %}
                    <span class="tag is-danger badge-danger" title="NSFW">NSFW</span>
                    {% endif %}

                </p>
            </div>
            <div class="media-right">
                <div class="dropdown is-right is-hoverable">
                    <div class="dropdown-trigger">
                        <button class="button is-ghost" aria-haspopup="true" aria-controls="dropdown-menu">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            {% if user.is_authenticated and user.is_superuser %}
                            <a href="{% url 'admin:vit_vit_change' vit.id %}" class="dropdown-item" target="_blank">
                                <span class="icon"><i class="bi bi-pencil-fill"></i></span>
                                <span>Admin Edit</span>
                            </a>
                            {% endif %}
                            {% if vit.user == request.user %}
                            <a href="{% url 'edit_vit' vit.id %}"
                                hx-include='{"csrfmiddlewaretoken": "{{ csrf_token }}"}' class="dropdown-item">
                                <span class="icon"><i class="bi bi-pencil-fill"></i></span>
                                <span>Edit</span>
                            </a>
                            <a href="{% url 'delete_vit' vit.id %}" hx-post="{% url 'delete_vit' vit.id %}"
                                hx-confirm="Are you sure?" hx-target="#vit-{{ vit.pk }}" hx-swap="delete"
                                class="dropdown-item">
                                <span class="icon">
                                    <i class="bi bi-trash-fill"></i>
                                </span>
                                <span>Delete</span>
                            </a>
                            {% endif %}
                            <a id="copyButton" role="button" onclick="copyLink('{{ vit.id }}')" class="dropdown-item">
                                <span class="icon"><i class="bi bi-clipboard-fill"></i></span>
                                <span id="copyLink_{{ vit.id }}">Copy</span> 
                            </a>
                            <a href="{% url 'report' %}?url={% url 'vit_detail' vit.id %}" class="dropdown-item">
                                <span class="icon">
                                    <i class="bi bi-flag-fill"></i>
                                </span>
                                <span>
                                    Report
                                </span>
                            </a>
                            <a href="{% url 'vit_liked_users' vit.id %}" class="dropdown-item">
                                <span class="icon">
                                    <i class="bi bi-hand-thumbs-up-fill"></i>
                                </span>
                                <span>
                                    View Likes
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="content" style="word-break: break-all;">

                {{ vit.body| remove_image_link | remove_video_link | plustag | safe | mention | convert_markdown:vit.user }}
                <div class="columns is-multiline">
                    {% if vit.embed_set.all|length > 1 %}
                    {% for embed in vit.embed_set.all %}
                    <div class="column is-6">
                        {% include 'vit/islands/embed_block.html' with embed=embed %}
                    </div>
                    {% endfor %}
                    {% else %}
                    {% for embed in vit.embed_set.all %}
                    <div class="column">
                        {% include 'vit/islands/embed_block.html' with embed=embed %}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>


                <div class="columns is-multiline">
                    {% for image in vit.body|image_tag %}
                    <div class="column is-half mimg">
                        {{image|safe}}
                    </div>
                    {% endfor %}
                    {% for video in vit.body|video_tag %}
                    <div class="column is-half mimg">
                        {{video|safe}}
                    </div>
                    {% endfor %}
                </div>

            </div>
            <div class="columns has-text-centered is-multiline">
                {% if vit.image %}
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <article class="image vit_image is-rounded" style="overflow-y: auto;">
                                <img src="{{ vit.image.url }}" alt="{{ vit.image.name }}" class="" loading="lazy">
                            </article>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if vit.video %}
                <div class="column">
                    <article class="image">
                        <video src="{{ vit.video.url }}" controls>Your Browser doesn't support Videos</video>
                    </article>
                </div>
                {% endif %}
            </div>
            <small>
                <time datetime="{{ vit.date }}" class="has-text-muted">
                    {{ vit.date | naturaltime }}
                </time>
            </small>
            <br>

        </div>
    </div>
    <footer class="card-footer">
        {% if not showView %}
        <a href="{% url 'vit_detail' vit.id %}" class="card-footer-item" >
            <span class="icon"> <i class="bi bi-binoculars-fill"></i>
            </span><span>View</span>
        </a>
        {% endif %}
        {% if user.is_authenticated %}
        <a hx-get="{% url 'api:like' vit.id %}" hx-target="#like_count_{{ vit.pk }}" hx-swap="innerHTML"
            class="vit_like card-footer-item" id="{{ vit.pk }}">
            <span class="icon">
                <i class="bi bi-hand-thumbs-up-fill"></i>
            </span>
            <span id="like_count_{{vit.pk}}">{{ vit.likes.all.count }}</span>
        </a>
        {% else %}
        <a href="{% url 'intent' 'like' vit.id %}" class="card-footer-item">
            <span class="icon">
                <i class="bi bi-hand-thumbs-up-fill"></i>
            </span>
            <span id="like_count_{{vit.pk}}">{{ vit.likes.all.count }}</span>
            {% endif %}
            <a href="{% url 'vit_detail' vit.pk %}#comments" class="card-footer-item">
                <span class="icon">
                    <i class="bi bi-chat-left-text-fill"></i>
                </span>
                <span>
                    {{ vit.comment_set.count }}
                </span>
            </a>
    </footer>
</div>
<div id="reply_form_{{vit.id}}"></div>