{% extends 'core/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
🔔 Notification
{% endblock title %}
{% block content %} 
<h1 class="title">Notifications</h1>
<hr>

{% if notifications %}
    

{% for notification in notifications %}
<div class="card">
<div class="card-content">
    <div class="media">
        <p> 
        <div class="media-left">
            <a href="{% url 'profile_view' notification.by_user %}">
                <article class="image is-48x48 is-square">
                    <img src="{{ notification.by_user.image.url }}" alt="" class="is-rounded">
                </article>
            </a>
        </div>
        <div class="media-content">
            <strong>{{ notification.message }} <span class="tag is-primary is-light">{{notification.notification_type | title}}</span></strong>
            {% if not notification.is_read %}
            <span class="tag is-info is-light">Unread</span>
            {% endif %}
            <br>
            {{ notification.date | naturaltime }}
        </div>
        <div class="medai-right">
            <a href="{% url 'notification_redirect' notification.pk %}" class="button is-primary is-rounded">View</a>
        </div>
        </p>
    </div>
</div>
</div>
<br>
{% endfor %}
{% else %}
<p>
    No notifications!
</p>
{% endif %}

{% endblock content %}