{% extends 'core/base.html' %}
{% load humanize %}
{% load static %}
{% block title %}
+{{ plustag.name }}
{% endblock title %}
{% block no_padding %}
{% include 'core/islands/header.html' with heading="Plustag" %}
{% endblock no_padding %}
{% block content %}
<div class="columns">
    <div class="column is-8">
        <div>
            <div class="box">
                <div class="columns is-vcentered">
                    <div class="column">
                        <h1 class="title is-3">
                            <span class="icon box">
                                <i class="bi bi-plus"></i>
                            </span>
                            <span>{{ plustag.name.title }}</span>
                        </h1>
                    </div>
                    <div class="column is-3">
                        {% if user.is_staff %}
                        <a href="{% url 'admin:vit_plustag_change' plustag.id %}" class="button is-info "
                            target="_blank"><span class="icon"><i class="bi bi-pencil-square"></i></span></a>
                        {% endif %}
                    </div>
                </div>

                {% if plustag.description %}
                <p>{{ plustag.description }}</p>
                {% endif %}
            </div>
            {% for vit in vits %}
            {% include 'vit/islands/vit_block.html'%}
            {% empty %}
            <p class="subtitle">
                There are no vits for this plustag, maybe they were deleted.
                {% endfor %}
        </div>
        {% include 'core/islands/pagination.html' with page=vits %}

    </div>
    <div class="column is-4">
        {% include 'core/islands/side_block.html' %}

    </div>
</div>
{% endblock content %}