{% extends 'core/base.html' %}
{% load humanize %}
{% block title %}
{{ plustag.name }}
{% endblock title %}

{% block content %}


<div class="columns">
    <div class="column">
        <div class="box">
        <h1 class="title is-1">+{{ plustag.name }}</h1>

        {% for vit in plustag.vit_set.all %}
        {% include 'vit/extends/vit_block.html'%}

        {% endfor %}
        </div>
    </div>
    <div class="column is-4">
        {% include 'accounts/extends/side_block.html' %}

    </div>
</div>
{% endblock content %}