{% extends 'core/base.html' %}
{% load humanize %}
{% block title %}
{{title}}
{% endblock title %}
{% block no_padding %}
{% include 'core/islands/header.html' with heading=title %}
{% endblock no_padding %}
{% block content %}
<div class="columns">
    <div class="column is-8">
        <div class="card mb-2">
            <div class="card-content">
                {% include 'core/vit_form_inc.html' with title=title %}
            </div>
        </div>
</div>
    <div class="column is-4">
        {% include 'core/islands/side_block.html' %}
    </div>
</div>
{% endblock content %}

{% block script %}
    <script>
        const fileInputImage = document.querySelector('#form_image input[type=file]');
    fileInputImage.onchange = () => {
        if (fileInputImage.files.length > 0) {
            const fileName = document.querySelector('#form_image .file-name');
            fileName.textContent = fileInputImage.files[0].name;
        }
    }
    const fileInputVideo = document.querySelector('#form_video input[type=file]');
    fileInputVideo.onchange = () => {
        if (fileInputVideo.files.length > 0) {
            const fileName = document.querySelector('#form_video .file-name');
            fileName.textContent = fileInputVideo.files[0].name;
        }
    }

    </script>
{% endblock script %}
