{% extends 'core/base.html' %}

{% load humanize %}
{% load mention %}
{% load convert_markdown %}

{% block title %}
{{ vit.body | truncatechars_html:50 | safe }}
{% endblock title %}


{% block meta %}
{% if vit.image %}
<meta property="og:image" content="{{web_url}}{{ vit.image.url }}">
<meta property="twitter:image" content="{{web_url}}{{ vit.image.url }}">
{% endif %}


{% if vit.embed_set.all %}
{% for embed in vit.embed_set.all %}
<meta property="og:image" content="{{embed.image_url}}">
<meta property="twitter:image" content="{{embed.image_url}}">
<meta property="og:title" content="{{ embed.title }}">
<meta property="twitter:title" content="{{ embed.title }}">
{% endfor %}
{% endif %}


<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{% url 'vit_detail' vit.id %}">
<meta property="og:title" content="{{ vit.body }}">
<meta property="og:description"
  content="{{vit.like_count}} likes and {{vit.comment_set.all | length}} comment so far on Vitary">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{% url 'vit_detail' vit.id %}">
<meta property="twitter:title" content="{{ vit.body }}">
<meta property="twitter:description"
  content="{{vit.like_count}} likes and {{vit.comment_set.all | length}} comment so far on Vitary">
{% endblock meta %}


{% block content %}
<div class="columns">
  <div class="column is-7">
    {% include 'vit/islands/vit_block.html'%}
    <br>
    {% include 'vit/islands/comments.html' %}
    
    {% include 'core/islands/pagination.html' with page=comments %}

  </div>
  <div class="column is-5">
    {% include 'core/islands/side_block.html' %}
  </div>
</div>
{% endblock content %}