{% extends 'core/base.html' %}

{% load humanize %}
{% load mention %}
{% load convert_markdown %}

{% block title %}
{{ vit.body | truncatechars_html:50 | safe }}
{% endblock title %}

{% block content %}
<div class="columns">
  <div class="column is-7">
    {% include 'vit/extends/vit_block.html'%}
    {% if vit.image %}
    <div class="card">
      <div class="card-image">
        <article class="image">
          <img src="{{ vit.image.url }}" alt="">
        </article>
      </div>
    </div>
    {% endif %}
    <br>
    {% if vit.video %}
    <article class="image">
      <video src="{{ vit.video.url }}" controls>
        Your Browser doesn't support Videos
      </video>
    </article>
    {% endif %}
    <br>
    <h3 class="title is-3 has-text-weight-bold" id="comments">
      Comments ({{ vit.comment_set.count }})
    </h3>
    {% if user.is_authenticated %}
    <form method="POST" class="box">
      {% csrf_token %}
      <div class="field">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="{{ user.profile.image.url }}" alt="{{user}}" class="is-rounded">
            </figure>
          </div>
          <div class="media-content">
            <div class="field">
              <p class="control">
                <textarea class="textarea" name="body" placeholder="Write Comment here, Use mentions and markdown">
                </textarea>
              </p>
            </div>
            <div class="field">
              <p class="control">
                <button type="submit" class="button is-link">
                  Comment <span class="is-small" style="color: rgb(46, 206, 107);">
                    ✔️
                  </span>
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </form>
    {% else %}
    <p class="subtitle">
      Please <a href="{% url 'login' %}">Login</a> to comment.
    </p>
    {% endif %}
    <br>
    <div class="media-content">
      {% for comment in comments %}
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48 is-square">
            <img src="{{ comment.user.profile.image.url }}" alt="{{comment.user}}" class="is-rounded">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <a href="{% url 'profile_view' comment.user.username %}">
                <strong>
                  @{{ comment.user }}
                </strong>
              </a>
              <small>
                on {{ comment.date | naturaltime }}
              </small>
              <br>
              {{ comment.body | safe | mention | convert_markdown | urlize }}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="column is-5">
    {% include 'core/extends/side_block.html' %}
  </div>
</div>
{% endblock content %}