{% extends 'core/base.html' %}
{% load humanize %}

{% block title %}
Delete Vit
{% endblock title %}
{% block no_padding %}
{% include 'core/islands/header.html' with heading="Delete Vit?" %}
{% endblock no_padding %}

{% block content %}

{% include 'vit/islands/vit_block.html' %}
<form method="POST">
    <p class="subtitle">It cannot be undone!</p>
    <br>
    {% csrf_token %}
    <input type="hidden" name="delete" value="Delete">
    <button type="submit" class="button is-danger is-large ">
        <span>Delete</span><span class="icon">🚮</span>
    </button>
</form>
{% endblock content %}