{% extends 'core/base.html' %}
{% load static %}


{% block title %}
404 Not Found
{% endblock title %}


{% block content %}
<div class="columns is-vcentered">
    <div class="column">
        <h1 class="title is-1 has-text-weight-bold">404 Not Found</h1>
        <p class="subtitle">The resource doesn't exist.</p>
        <p class="subtitle">Go to <a href="{% url 'home' %}">Home 🏡</a>.</p>
    </div>
    <div class="column">
        <img src="{% static 'img/surr-404.png' %}" alt="">
    </div>
</div>
{% endblock content %}