@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap');
/* 
.badge-success {
  box-shadow: 0px 0px 10px 0px rgb(6, 214, 44);
}

.badge-info {
  box-shadow: 0px 0px 10px 0px #5c7cfa;
}

.badge-link {
  box-shadow: 0px 0px 10px 0px #6669ff;
}

.badge-primary {
  box-shadow: 0px 0px 10px 0px #00bcd4;
}
.badge-warning {
  box-shadow: 0px 0px 10px 0px #ff9800;
}

.badge-danger {
  box-shadow: 0px 0px 10px 0px #f44336;
}
.badge-dark {
  box-shadow: 0px 0px 10px 0px #ffffff;
}
.badge-black {
  box-shadow: 0px 0px 10px 0px #ffffff;
}
.badge-white {
  box-shadow: 0px 0px 10px 0px #ffffff;
} */
video {
  margin-bottom: 10px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 0.4rem;
}

/* Crop the vit image */
/* Add a scroll bar to it */
.vit_image{
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 800px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.no-more {
  opacity: 0;
}

.profile-img-page{
  margin-top: -70%;
}


.profile-img{
      padding: 5%;
      
    }
.colorful{
      animation: colorful 5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      
}

  @keyframes colorful{
    0%{
    box-shadow: 0px 0px 10px 0px #5c7cfa;
    background-color: #5c7cfa;
    }
    50%{
    box-shadow: 0px 0px 10px 0px #5cfa9e;
    background-color: #5cfa9e;
    }
    75%{
      box-shadow: 0px 0px 10px 0px #fa8e5c;
    background-color: #fa8e5c;
    }
    100%{
    box-shadow: 0px 0px 10px 0px #5c7cfa;
    background-color: #5c7cfa;
    }
  }

  .online {
    background-color: #5cfa9e;
  }
.away{
  background-color: #9c9c9c;
}

.home-page-title{
  font-size: 3rem;
        padding-bottom: 40px;
        line-height: 1;
        font-weight: 800;
        font-family: 'Work Sans', sans-serif;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background: -webkit-linear-gradient(5deg, #50C878 20%, #6949f7 100%);
        
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent
}