@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap');
.profile-img {
  border-radius: 50%;
  max-width: 100;
  max-height: 100;
  object-fit: fill;
}

.badge-success {
  box-shadow: 0px 0px 10px 0px rgb(6, 214, 44);
}

.badge-info {
  box-shadow: 0px 0px 10px 0px #5c7cfa;
}

.badge-link {
  box-shadow: 0px 0px 10px 0px #6669ff;
}

.badge-primary {
  box-shadow: 0px 0px 10px 0px #00bcd4;
}
.badge-warning {
  box-shadow: 0px 0px 10px 0px #ff9800;
}

.badge-danger {
  box-shadow: 0px 0px 10px 0px #f44336;
}
.badge-dark {
  box-shadow: 0px 0px 10px 0px #ffffff;
}
.badge-black {
  box-shadow: 0px 0px 10px 0px #ffffff;
}
.badge-white {
  box-shadow: 0px 0px 10px 0px #ffffff;
}
video {
  margin-bottom: 10px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 0.4rem;
}

/* Crop the vit image */
/* Add a scroll bar to it */
.vit_image{
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 800px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.no-more {
  opacity: 0;
}