{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/bc926fbd0c.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <meta name="google-site-verification" content="talpjIMGSLi3tqtLzbghCA_FL28jJPkrDM0K4wq_2Z0" />
    <link rel="stylesheet" href="{% static 'css/srcery.min.css' %}">
    <script src="{% static 'js/highlight.min.js' %}"></script>
    <script>hljs.highlightAll();</script>
    <script src="{% static 'js/confetti.min.js' %}"></script>
    <script src="{% static 'js/masonry.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/android-chrome-256x256.png' %}">
    {% if user.profile.dark_mode %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma-prefers-dark.css' %}" />
    {% endif %}
    <title>
        {% if user.is_authenticated %}
        {% if unread_notifications %}
        ({{unread_notifications.count}})
        {% endif %}
        {% endif %}
        {% block title %}{% endblock title %} | Vitary
    </title>
    {% block meta %}

    {% endblock meta %}
    <meta name="title" content="Vitary">
    <meta name="description" content="Vitary | Make New Friends Today!">

</head>

<body class="body">

    {% if not is_htmx %}
    {% include 'core/navbar.html' %}
    {% endif %}
    {% include 'core/search_modal.html' %}

    {% block no_padding %}

    {% endblock no_padding %}

    <section class="section">
        <div class="container-fluid">
            <noscript>
                <article class="notification is-danger mb-0 has-text-centered ">
                    <h3 class="title is-3 has-text-weight-bold">
                        Please enable javascript to use this site properly.
                    </h3>
                </article>
                <br>
            </noscript>
            {% include 'core/islands/messages.html' %}
            {% block content %}

            {% endblock content %}
        </div>
    </section>


    {% if not is_htmx %}
    {% include 'core/footer.html' %}
    {% endif %}



    {% if not DEBUG %}
    <script src="https://3gc941nr9yx8.statuspage.io/embed/script.js"></script>
    {% endif %}
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/htmx.js' %}"></script>
    <script src="{% static 'js/like.js' %}"></script>
    <script src="{% static 'js/follow.js' %}"></script>
    <script src="{% static 'js/copy.js' %}"></script>
    <script src="{% static 'js/surprise.js' %}"></script>
    <script src="{% static 'js/mention_suggests.js' %}"></script>
    <script src="{% static 'js/anchor.min.js' %}"></script>
    
    {% block script %}

    {% endblock script %}

</body>

</html>