{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/bc926fbd0c.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <meta name="google-site-verification" content="talpjIMGSLi3tqtLzbghCA_FL28jJPkrDM0K4wq_2Z0" />
    <link rel="stylesheet" href="{% static 'css/srcery.min.css' %}">
    <script src="{% static 'js/highlight.min.js' %}"></script>
    <script>hljs.highlightAll();</script>
    <script src="{% static 'js/confetti.min.js' %}"></script>
    <script src="{% static 'js/masonry.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/android-chrome-256x256.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma-prefers-dark.css' %}" />
    <title>
        {% if user.is_authenticated %}
        {% if unread_notifications %}
        ({{unread_notifications.count}})
        {% endif %}
        {% endif %}
        {% block title %}{% endblock title %} | Vitary
    </title>
    {% block meta %}

    {% endblock meta %}
    <meta name="title" content="Vitary">
    <meta name="description" content="Vitary | Make New Friends Today!">

</head>

<body class="body" >

    {% include 'core/navbar.html' %}
    {% include 'core/search_modal.html' %}
    
    {% block no_padding %}
    
    {% endblock no_padding %}
    
    <section class="section">
        <div class="container">
                <noscript>
                    <article class="notification is-danger mb-0 has-text-centered ">
                        <h3 class="title is-3 has-text-weight-bold">
                            Please enable javascript to use this site properly.
                        </h3>
                    </article>
                    <br>
                </noscript>
                {% include 'core/islands/messages.html' %}
                {% block content %}

                {% endblock content %}
            </div>
        </section>


        {% include 'core/footer.html' %}
    


    {% if not DEBUG %}
    <script src="https://3gc941nr9yx8.statuspage.io/embed/script.js"></script>
    {% endif %}
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/htmx.js' %}"></script>
    <script src="{% static 'js/like.js' %}"></script>
    <script src="{% static 'js/follow.js' %}"></script>
    <script src="{% static 'js/copy.js' %}"></script>
    <script src="{% static 'js/surprise.js' %}"></script>
    <script src="{% static 'js/mention_suggests.js' %}"></script>
    <script src="{% static 'js/anchor.min.js' %}"></script>


    <script>
        function saveInput() {
            val = $("#body").val();
            if (val.length != 0) {
                $("#markdown-content").removeClass("is-hidden");
                $.ajax({
                    url: "{% url 'convert_markdown' %}",
                    method: "POST",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}",
                    },
                    data: {
                        value: val
                    },
                    success: function (data) {
                        $("#markdown-content").html(data);
                        hljs.highlightAll();
                    }
                })
            } else {
                $("#markdown-content").addClass("is-hidden");
            }
        }
        const processChange = debounce(() => saveInput());



        document.body.addEventListener('htmx:configRequest', function (evt) {
            evt.detail.headers['X-CSRFToken'] = "{{ csrf_token }}"; // add a new header into the request
        });
    </script>
    {% block script %}

    {% endblock script %}

</body>

</html>