{% load static %}

{% load flatpages %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bulmaswatch.min.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="https://kit.fontawesome.com/bc926fbd0c.js" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <meta name="description" content="Vitary | Make New Friends Today!">
    <title>

        {% if user.is_authenticated %}

        {% if unread_notifications %}
        ({{unread_notifications.count}})

        {% endif %}

        {% endif %}

        {% block title %}

        {% endblock title %}
        | Vitary
    </title>
</head>

<body class="dark">

    {% include 'core/navbar.html' %}
    {% if messages %}

    {% for message in messages %}
    <article class="message is-{{ message.tags }}">
        <div class="message-body">
            {{ message }}
        </div>
    </article>
    {% endfor %}

    {% endif %}

    <section class="section">
        <div class="container-fluid">

            {% block content %}

            {% endblock content %}

        </div>
        </div>
    </section>
    {% include 'core/footer.html' %}

    {% block script %}

    {% endblock script %}
    <!-- Bulma Navbar control -->
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {

                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');

                    });
                });
            }

        });

    </script>
    <script src="https://kit.fontawesome.com/bc926fbd0c.js" crossorigin="anonymous"></script>
</body>

</html>