{% extends 'core/base.html' %}

{% block title %}
Thank You!
{% endblock title %}


{% block no_padding %}

<div class="hero is-link has-text-centered">
    <div class="hero-body">
        <h1 class="title is-1 has-text-weight-bold">Thank You for your donation!</h1>
        <p class="subtitle">
            Thank You for Supporting Vitary & Visualway.
        </p>
    </div>
</div>
<section class="section">
    <div class="container">
        <p class="subtitl has-text-centered">
            We will check your donation and send you a confirmation email and a shiny badge!
        </p>
    </div>
</section>

{% endblock no_padding %}