{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Explore
{% endblock title %}


{% block content %}

<h1 class="title is-1 has-text-weight-bold">Explore</h1>
<div class="columns">
    <div class="column is-7">
        <div class="">
            {% if vits %}
        
            {% for vit in vits %}
            {% include 'vit/extends/vit_block.html' %}
            {% endfor %}
        {% else %}
        Wow Such Empty 😢
        {% endif %}
            <div class="pagination">
                <span class="step-links">
                    {% if vits.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ vits.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="current">
                        Page {{ vits.number }} of {{ vits.paginator.num_pages }}.
                    </span>
                    {% if vits.has_next %}
                    <a href="?page={{ vits.next_page_number }}">next</a>
                    <a href="?page={{ vits.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>

    <div class="column is-5">
        {% include 'core/extends/side_block.html' %}
    </div>
</div>
{% endblock content %}