{% extends 'core/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
Home
{% endblock title %}

{% block no_padding %}
{% include 'core/islands/header.html' with heading="Home" %}
{% endblock no_padding %}
{% block content %}
{% include 'core/islands/alert.html' %}

<div class="columns" id="app">
    <div class="column">


        {% include 'feed/feed_form.html' with title="Add feed" %}
        <div id="data">
            {% for feed in feeds %}
            {% include 'feed/islands/feed_block.html' %}
            {% empty %}
            <p class="subtitle">
                Wow Such Empty 😟, maybe try following some <a href="{% url 'users' %}">people</a>.
            </p>
            {% endfor %}
        </div>
        {% include 'core/islands/pagination.html' with page=feeds %}
    </div>
    <div class="column is-4" id="col-2">
            {% include 'core/islands/side_block.html' %}
    </div>
</div>
{% endblock content %}