{% load static %}
<footer class="footer is-dark">
    <div class="content has-text-centered">
        <p>
            <a href="https://github.com/Visualway/Vitary">
                <img src="{% static 'img/logo.png' %}" alt="Vitary Logo" height="15" width="15">
                 Vitary
            </a>
            by <a href="https://foxy4096.github.io">
                Aditya Priyadarshi
            </a>.
            The source code is licensed
            <a href="https://opensource.org/licenses/BSD-3-Clause">BSD-3-Clause</a>.
            <br>
            The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
        <p>
            <a href="/pages/terms/">Terms</a>
            &nbsp;&middot;&nbsp;
            <a href="/pages/privacy/">Privacy</a>
            &nbsp;&middot;&nbsp;
            <a href="/pages/contact/">Contact</a>
        </p>
        <p>
            <a href="/pages/about/">About</a>
            &nbsp;&middot;&nbsp;
            <a href="https://vitary.statuspage.io/" target="_blank">Status</a>
        </p>
        <p>
            Built with 💖 By <a href="https://github.com/Visualway">Visualway</a>
            <br>
            <br>
            <a href="http://www.djangoproject.com/"><img
                    src="https://www.djangoproject.com/m/img/badges/djangomade124x25.gif" border="0"
                    alt="Made with Django." title="Made with Django." /></a>
            <a href="https://bulma.io">
                <img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
            </a>
            <br>
            <a href="https://jquery.com/">
                <img src="{% static 'img/jQueryLogo.png' %}" alt="Made with Jquery" width="128" height="24"
                    style="background-color: white; border-radius: 4px;">
            </a>
        </p>
    </div>
</footer>