{% load static %}
<footer class="footer is-dark">
    <div class="content has-text-centered">
        <p>
            <a href="https://github.com/Visualway/Vitary">
                <img src="{% static 'img/logo.png' %}" alt="Vitary Logo" height="15" width="15">
                 Vitary
            </a>
            by <a href="https://foxy4096.github.io">
                Aditya Priyadarshi
            </a>.
            The source code is licensed
            <a href="https://opensource.org/licenses/BSD-3-Clause">BSD-3-Clause</a>.
            <br>
            The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
        <p>
            <a href="/pages/terms/">Terms</a>
            &nbsp;&middot;&nbsp;
            <a href="/pages/privacy/">Privacy</a>
            &nbsp;&middot;&nbsp;
            <a href="/pages/contact/">Contact</a>
        </p>
        <p>
            <a href="{% url 'develop_home' %}">API</a>
            &nbsp;&middot;&nbsp;
            <a href="/pages/about/">About</a>    
        </p>
        <p>
            Built with 💖 By <a href="https://github.com/Visualway">Visualway</a>
        </p>
    </div>
</footer>
