{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Home
{% endblock title %}


{% block no_padding %}
{% include 'core/islands/alert.html' %}
<div class="no-bottom-border hero is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        A New Way To Make Friends.
      </h1>
      <div>
        <a href="{% url 'signup' %}" class="button special-dark is-white mx-3">
          Join Now
        </a>
        <a href="{% url 'login' %}" class="button">
          <span class="icon"><i class="bi bi-joystick"></i></span>
          <span>Login</span>
        </a>
      </div>
    </div>
  </div>
</div>
<hr>
{% endblock no_padding %}


{% block content %}
<div class="columns" style="margin-top: -10em;">
  <div class="column"></div>
  <div class="column is-8">

    {% if random_feed %}
    {% include 'feed/islands/feed_block.html' with feed=random_feed %}
    {% endif %}
  </div>
  <div class="column"></div>
</div>
<hr>
<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading"><a href="{% url 'explore' %}">Vits</a></p>
      <p class="title">{{feed_count}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading"><a href="{% url 'users' %}">Users</a></p>
      <p class="title">{{users_count}}</p>
    </div>
  </div>
</nav>


{% endblock content %}