{% extends 'core/base.html' %}

{% block title %}
All Donations
{% endblock title %}


{% block content %}
<div class="columns">
    <div class="column is-7">
                <h1 class="title is-1 has-text-weight-bold">My Donations</h1>
        {% if donations %}
        {% for donation in donations %}
        <div class="media">
            <div class="media-left">
                <article class="image is-48x48">
                    <img src="{{ donation.user.profile.image.url }}" alt="img" class="profile-img">
                </article>
            </div>
            <div class="media-content">
                <p><a href="{% url 'profile_view' donation.user.username %}">@{{ donation.user.username }}</a> donated us  ₹{{ donation.amount }} on {{ donation.date }}</p>
            </div>
        </div>
        {% endfor %}
        <br>
        <div class="pagination">
            <span class="step-links">
                {% if donations.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ donations.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current">
                    Page {{ donations.number }} of {{ donations.paginator.num_pages }}.
                </span>
                {% if donations.has_next %}
                <a href="?page={{ donations.next_page_number }}">next</a>
                <a href="?page={{ donations.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        {% else %}
        You have not donated us yet. 😟
        <br>
            <br>
            <div class="buttons">
                <a href="{% url 'donate' %}" class="button is-info">Donate Us 💸</a>
            </div>
        {% endif %}
    </div>
    <div class="column is-5">
        {% include 'core/extends/side_block.html' %}
    </div>
</div>
{% endblock content %}