{% load static %}
{% load fetch_gravatar %}

{% load flatpages %}
<nav class="navbar is-dark" role="navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'home' %}">
            <img src="{% static 'img/android-chrome-256x256.png' %}">
            <h1 class="title has-text-white has-text-weight-bold">Vitary</h1>
        </a>

        <button class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample"
            onclick="document.getElementsByClassName('navbar-menu')[0].classList.toggle('is-active') | document.getElementsByClassName('navbar-burger')[0].classList.toggle('is-active')">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </button>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'home' %}">
                <span>Home</span><span class="icon">🏡</span>
            </a>
            {% if user.is_staff %}
            <a class="navbar-item" href="/admin/" >
                <span>Admin</span><span class="icon">🔐</span>
            </a>
            {% endif %}

            <a class="navbar-item" href="{% url 'post_list' %}">
                <span>Blog</span><span class="icon">📝</span>
            </a>
            <a class="navbar-item" href="{% url 'developer_home' %}">
                <span>Developer</span><span class="icon">👨‍💻</span>
            </a>
            <a class="navbar-item" href="{% url 'api:openapi-view' %}" >
                <span>API Docs</span><span class="icon">📚</span>
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    <span>More</span><span>📦</span>
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="{% url 'users' %}">
                        <span>Users</span>
                        <span class="icon"><i class="bi bi-people-fill"></i></span>
                    </a>

                    <a class="navbar-item" href="{% url 'explore' %}">
                        <span>Explore</span><span class="icon">🌎</span>
                    </a>
                    {% get_flatpages as flatpages %}
                    {% for page in flatpages %}
                    <a href="/pages{{ page.url }}" class="navbar-item">{{ page.title }}</a>
                    {% endfor %}
                    <a class="navbar-item" href="mailto:adityapriyadarshi669@gmail.com">
                        <span>Contact Us</span><span class="icon">📧</span>
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item"
                        href="https://github.com/Visualway/Vitary/issues/new?assignees=&labels=&template=bug_report.md&title=">
                        <span>Report an issue</span><span class="icon">🐛</span>
                    </a>
                    <a href="https://github.com/Visualway/Vitary/issues/new?assignees=&labels=&template=feature_request.md&title="
                        class="navbar-item">
                        <span>Request a feature</span><span class="icon">📦</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">

            <div class="navbar-item">

                <div class="buttons">

                    <a class="button" href="{% url 'search' %}"><span class="icon">
                        🔍</span></a>

                    <div>
                        {% if user.is_authenticated %}
                        <a href="{% url 'user_detail' user.username %}" class="button is-ghost">
                            <article class="image is-24x24">
                                <img src="{{ user.profile.image.url }}" alt="{{ user.username }}'s Avatar"
                                    class="is-rounded {{ user.profile.status }}" width="100" height="100">
                            </article>
                        </a>

                        <a class="button is-warning" href="{% url 'notification_page' %}">
                            <span class="icon">🔔</span>
                            {% if unread_notifications %}
                            <span>
                                ({{unread_notifications.count }})
                            </span>
                            {% endif %}
                        </a>
                        <a class="button is-danger" href="{% url 'logout' %}">
                            Logout 🚪
                        </a>
                        </a>
                        {% else %}
                        <a class="button is-primary" href="{% url 'signup' %}">
                            <strong>Sign up</strong> 🚀
                        </a>
                        <a class="button is-white" href="{% url 'login' %}">
                            Log in 🔐
                        </a>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</nav>