{% extends 'core/base.html' %}
{% load static %}

{% block title %}
People
{% endblock title %}


{% block content %}
<div class="columns">
    <div class="column is-7">
        <h1 class="title is-1 has-text-weight-bold">People</h1>
        <p class="subtitle">
            Find new people.
        </p>
        {% if persons %}
        <div class="" id="data">
            {% for person in persons %}
            {% include 'core/extends/user_ext.html' with person=person %}
            {% endfor %}
        </div>
        <br>
        <div class="pagination">
            <span class="step-links">
                {% if persons.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ persons.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current">
                    Page {{ persons.number }} of {{ persons.paginator.num_pages }}.
                </span>
                {% if persons.has_next %}
                <a href="?page={{ persons.next_page_number }}" class="next">next</a>
                <a href="?page={{ persons.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        {% else %}
        <p>No one is at the party yet!</p>
        {% endif %}
    </div>
    <div class="column is-5">
        {% include 'core/extends/side_block.html' %}
    </div>
</div>
{% endblock content %}
{% block script %}
<script src="{% static 'js/scroll.js' %}"></script>
{% endblock script %}
    