{% extends 'core/base.html' %}
{% load static %}
{% load bulma_tags %}

{% block title %}
Report Abuse
{% endblock title %}


{% block content %}

<div class="columns">
    <div class="column is-7">
        <h1 class="title is-1">Report</h1>
        <form action="." method="post">
            {% csrf_token %}
            {{form|bulma}}
            <br>
            <button class="button is-primary is-large" type="submit">Submit ✔️</button>
        </form>
    </div>

    <div class="column is-4">
        {% include 'core/islands/side_block.html' %}
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    document.querySelector('textarea').focus();
</script>
{% endblock script %}