{% extends 'core/base.html' %}
{% load humanize %}

{% block title %}
📩 Report Issue
{% endblock title %}


{% block content %}

<h1 class="title">Report Issue</h1>
<div class="box">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button type="submit" class="button is-primary is-rounded">Report 📩</button>
    </form>
</div>
<hr>

{% if user.is_staff %}

<h1 class="title">All Issues</h1>

{% if all_issues %}

{% for issue in all_issues %}

<h3 class="title is-3"><a href="{% url 'issue_detail' issue.pk %}">{{issue.title}}</a></h3>

{% endfor %}

{% else %}

<p>No issues!</p>

{% endif %}

{% endif %}
<hr>
<h1 class="title">My Issues</h1>

{% if issues %}

{% for issue in issues %}
<h3 class="title is-3"><a href="{% url 'issue_detail' issue.pk %}">{{issue.title}}</a></h3>
{% endfor %}
{% else %}
<p>No issues!</p>
{% endif %}
{% endblock content %}