{% extends 'core/base.html' %}
{% load static %}
{% load bulma_tags %}

{% block title %}
Report Abuse
{% endblock title %}

{% block no_padding %}
{% include 'core/islands/header.html' with heading="Report" %}
{% endblock no_padding %}

{% block content %}

<div class="columns">
    <div class="column is-7">
        <div class="box">
            <form action="." method="post">
                {% csrf_token %}
                {{form|bulma}}
                <br>
                <button class="button is-primary is-large is-outlined" type="submit">Submit ✔️</button>
            </form>
        </div>
    </div>

    <div class="column is-4">
        {% include 'core/islands/side_block.html' %}
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    document.querySelector('textarea').focus();
</script>
{% endblock script %}