<div class="modal" id="searchModal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="card">
            <div class="card-content has-text-centered">
                <h1 class="title is-1 has-text-weight-bold">Search</h1>
                <form action="{% url 'search' %}" method="get">
                    <div class="field">
                    <div class="control">
                        <input class="input" type="text" placeholder="Search..." id="search" name="q" value="{{query}}">
                    </div>
                    <p class="help">Tip: Pressing <code>CTRL + Q</code> Will Open the Search And Pressing <code>ESC</code> Will Close It.</p>
                
                    <p class="help">Tip: Adding <code>@</code> at the start will search for users</p>
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-link is-fullwidth is-rounded">Search 🔍</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close" onclick="closeSearch()"></button>
</div>    