{% load static %}
{% load humanize %}



<div class="card">
    <div class="card-content">
        <a href="{% url 'home' %}" class="level-item title"><i class="fas fa-home"></i></a>
        <hr>
        <a href="{% url 'explore' %}" class="level-item title"><i class="fab fa-wpexplorer"></i></a>

        {% if user.is_authenticated %}
        <hr>
        <a href="{% url 'all_messages' %}" class="level-item title"><i class="fas fa-envelope"></i></a>
        <hr>
        <a href="{% url 'profile_view' user.username %}" class="level-item title"><i class="fas fa-user"></i></a>
        <hr>
        <a href="{% url 'profile' %}" class="level-item title"><i class="fas fa-cog"></i></a>

        {% endif %}
    </div>
</div>