{% if title == "Add Vit"%}
<form action="{% url 'add_vit' %}" method="post" enctype="multipart/form-data" id="vit_form">
    {% elif title == "Edit Vit" %}
    <form action="{% url 'edit_vit' vit.pk %}" method="post" enctype="multipart/form-data">
        {% endif %}
        {% csrf_token %}
        <div class="field">
            <div class="control">
                {{vit_form.body}}
                <br>
                <div id="users_drop" class="box has-background-black is-hidden">
                </div>
                <p class="help"><a href="https://www.markdownguide.org/" target="_blank">
                        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16"
                            data-view-component="true">
                            <path fill-rule="evenodd" fill="white"
                                d="M14.85 3H1.15C.52 3 0 3.52 0 4.15v7.69C0 12.48.52 13 1.15 13h13.69c.64 0 1.15-.52 1.15-1.15v-7.7C16 3.52 15.48 3 14.85 3zM9 11H7V8L5.5 9.92 4 8v3H2V5h2l1.5 2L7 5h2v6zm2.99.5L9.5 8H11V5h2v3h1.5l-2.51 3.5z">
                            </path>
                        </svg>
                        Styling with Markdown is supported
                    </a>
                </p>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <div class="columns">
                    <div class="column">
                        <label for="image" class="label">Image</label>
                        {{vit_form.image}}
                        <p class="label">Currently: {{vit.image.name|default:"None"}}</p>
                    </div>
                    <div class="column">
                        <label for="video" class="label">Video</label>
                        {{vit_form.video}}
                        <p class="label">Currently: {{vit.video.name|default:"None"}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label for="nsfw" class="checkbox">{{ form.nsfw.label }}
                    {{ form.nsfw }}
                    <p class="help">
                        {{ form.nsfw.help_text }}
                    </p>
                </label>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button class="button is-primary is-fullwidth is-large">{{title}}   
                    <span class="icon is-small">
                        ➕
                    </span>
                </button>
            </div>
        </div>
    </form>