{% load bulma_tags %}

{% if title == "Add Vit" or title == "Add Reply" %}
<form action="{% url 'add_vit' %}" method="post" enctype="multipart/form-data" id="vit_form" >
    {% elif title == "Edit Vit" %}
    <form action="{% url 'edit_vit' vit.pk %}" method="post" enctype="multipart/form-data" id="vit_form" >
        {% endif %}
        <div class="media pb-4">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="{{ user.profile.image.url }}" alt="user avatar" class="is-rounded {{ user.profile.status }}">
                </figure>
            </div>
            <div class="media-content">
                <strong>{{ user.get_full_name|default:user.get_username }}</strong>
                <br>
                <a href="{% url 'user_detail' user.username %}">@{{ user.get_username }}</a>
            </div>
            <div class="media-right is-hidden-mobile">
                Not {{ user.get_short_name|default:user.username }}? <a href="{% url 'logout' %}"
                    class="button is-small is-outlined is-danger is-light">Logout</a>
            </div>
        </div>
        {% csrf_token %}

        {% if vit %}
        <input type="hidden" name="reply_id" value="{{vit.id}}">
        {% endif %}
        {{form | bulma}}
        <div id="users_drop" class="box is-hidden"></div>
        <div id="markdown-content" class="is-hidden box content"></div>
        <div class="field">
            <div class="control">
                <button class="button is-primary is-rounded">
                    Save
                </button>
            </div>
        </div>
    </form>

    