{% extends 'core/base.html' %}
{% load humanize %}
{% block title %}
Add/Edit Vit
{% endblock title %}
{% block content %}
<div class="columns">
    <div class="column">
<div class="box">
    <h1 class="title">Add/Edit Vit</h1>
<form action="" method="post">
    {% csrf_token %}
    <div class="field">
        <div class="control">
            {{form.body}}
        </div>
    </div>
    <div class="field">
        <div class="control">
            <div class="columns">
                <div class="column">
                    <div class="file has-name" id="form_image">
                        <label class="file-label">
                            {{form.image}}
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Add a photo
                                </span>
                            </span>
                            <span class="file-name">
                                No photo uploaded
                            </span>
                        </label>
                    </div>
                </div>
                <div class="column">
                    <div class="file has-name" id="form_video">
                        <label class="file-label">
                            {{form.video}}
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Add a video
                                </span>
                            </span>
                            <span class="file-name">
                                No video uploaded
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <button class="button is-success">Add Vit   
                <span class="icon is-small">
                    <i class="fas fa-plus"></i>
                </span>
            </button>
        </div>
    </div>
</form>
</div>
</div>
    <div class="column is-4">
        {% include 'accounts/extends/side_block.html' %}
    </div>
</div>
{% endblock content %}

{% block script %}
    <script>
        const fileInputImage = document.querySelector('#form_image input[type=file]');
    fileInputImage.onchange = () => {
        if (fileInputImage.files.length > 0) {
            const fileName = document.querySelector('#form_image .file-name');
            fileName.textContent = fileInputImage.files[0].name;
        }
    }
    const fileInputVideo = document.querySelector('#form_video input[type=file]');
    fileInputVideo.onchange = () => {
        if (fileInputVideo.files.length > 0) {
            const fileName = document.querySelector('#form_video .file-name');
            fileName.textContent = fileInputVideo.files[0].name;
        }
    }

    </script>
{% endblock script %}
