{% extends 'core/base.html' %}

{% load humanize %}
{% load mention %}

{% block title %}
{{ feed.body | truncatechars_html:50 | safe }}
{% endblock title %}

{% block content %}
<div class="columns">
    <div class="column">
        {% include 'feed/extends/feed_block.html'%}
        <br>

        <div class="columns">

            {% if feed.image %}
            <div class="column">
                <article class="image is-800x600">
                    <img src="{{ feed.image.url }}" alt="">
                </article>
            </div>
            {% endif %}

            {% if feed.video %}
            <div class="column">
                <article class="image is-800x600">
                    <video src="{{ feed.video.url }}" controls>Your Browser doesn't support Videos</video>
                </article>
            </div>

            {% endif %}
        </div>
        <br>
        <div class="card">
            <div class="card-content">
                <h1 class="title">Comments ({{feed.feedcomment_set.all.count}})</h1>
                <article class="media">
                    <figure class="media-left">
                      <p class="image is-64x64">
                        <img src="{{ user.profile.image.url }}"  class="is-rounded">
                      </p>
                    </figure>
                    <div class="media-content">
                    <form method="POST" action="{% url 'add_comment' %}">
                      <div class="field">
                        <p class="control">
                          <textarea class="textarea" name="comment_body" placeholder="Add a comment..." style="width: 100%;
                          height: 150px;
                          padding: 12px 20px;
                          box-sizing: border-box;
                          border: px solid rgb(0, 0, 0);
                          background-color: #ffffff;
                          color: #b9b9b9;
                          background-color : #4a4a4a; 
                          resize: both;"></textarea>
                        </p>
                        <input type="hidden" name="feed_id" value="{{ feed.pk }}">
                        {% csrf_token %}
                    </div>
                    <nav class="level">
                        <div class="level-left">
                          <div class="level-item">
                            <button type="submit" class="button is-success">Submit</button>
                          </div>
                        </div>
                      </nav>
                    </div>
                </article>
            </form>
                  
                  {% for comment in feed.feedcomment_set.all %}
                  <article class="media">
                    <figure class="media-left">
                      <p class="image is-64x64">
                        <img src="{{ comment.user.profile.image.url }}" class="is-rounded">
                      </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{% if comment.user.get_full_name %}
                                    {{comment.user.get_full_name.title}}
                                    {% else %}
                                    {{comment.user.username.title}}
                                    {% endif %}</strong> <small>@{{comment.user.username}}</small> <small>{{ comment.date | naturaltime }}</small>
                                    <a href="#comment-{{ comment.pk }}" id="comment-{{ comment.pk }}">🔗</a>
                                    <br>
                                    {{comment.body| safe | mention }}
                                </p>
                      </div>
                      
                    </div>
                  </article>
                  {% endfor %}
                      
            </div>
        </div>
    </div>
    <div class="column is-4">
        {% include 'accounts/extends/side_block.html' %}
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    function like_feed(feed_id) {
        fetch("{% url 'like_feed' %}", {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                feed_id: feed_id
            })
        }).then(function (response) {
            return response.json();
        }).then(function (data) {
            if (data.status == 'success') {
                var like_count = document.getElementById('like_count_' + feed_id);
                like_count.innerHTML = data.like_count;
                var like_count = document.getElementById('like_count_' + feed_id);
                like_count.innerHTML = data.likes;
            }
        });
    }
</script>
{% endblock script %}