{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Home - Develope
{% endblock title %}

{% block content %}
<div class="columns is-vcentered">
    <div class="column is-7">
        <h2 class="title is-1 has-text-weight-bold">
            Build A New Way To Make Friends,
        </h2>
        <p class="subtitle">
            with the help of our <a href="https://en.wikipedia.org/wiki/API" class="has-text-link">API 💻</a>.
        </p>
        <div class="buttons">
            
            {% if user.devprofile %}           
            <a href="{% url 'developer_dashboard' %}" class="button is-link  is-large">Dashboard 🚀</a>
            {% else %}
            <a href="{% url 'developer_join' %}" class="button is-large">Join Now 🚀</a>
            {% endif %}
            <a href="" class="button is-success is-large ">Documentation 📖</a>
        </div>
    </div>
    <div class="column">
        <article class="image">
            <img src="{% static 'img/surr-568.png' %}" alt="hero1">
        </article>
        <p class="content has-text-centered">
            Illustration by <a href="https://icons8.com/illustrations/author/5eb423ee01d03600140dff88">Tatiana
                Vinogradova</a> from <a href="https://icons8.com/illustrations">Ouch!</a>
        </p>
        {% endblock content %}