{% extends 'core/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
Home
{% endblock title %}


{% block content %}
<div class="columns">
    <div class="column is-8">
        <div class="box">
<h1 class="title">Home
<i class="fas fa-home"></i>
</h1>
            <form action="{% url 'add_feed' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="field">
                    <div class="control">
                        {{form.body}}
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <div class="columns">
                            <div class="column">
                                <div class="file has-name is-small" id="form_image">
                                    <label class="file-label">
                                        {{form.image}}
                                        <span class="file-cta">
                                            <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                            </span>
                                            <span class="file-label">
                                                Add a photo
                                            </span>
                                        </span>
                                        <span class="file-name">
                                            No photo uploaded
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="column">
                                <div class="file has-name is-small" id="form_video">
                                    <label class="file-label">
                                        {{form.video}}
                                        <span class="file-cta">
                                            <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                            </span>
                                            <span class="file-label">
                                                Add a video
                                            </span>
                                        </span>
                                        <span class="file-name">
                                            No video uploaded
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-success">Add Vit   
                            <span class="icon is-small">
                                <i class="fas fa-plus"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <hr>

        {% if feeds %}
        {% for feed in feeds %}
        {% include 'feed/extends/feed_block.html' %}
        {% endfor %}
        {% else %}
        Wow Such Empty <i class="fas fa-sad-tear"></i>, maybe try following some <a
            href="{% url 'peoples' %}">people</a>.
        {% endif %}
    </div>
    <div class="column is-4">
        {% include 'accounts/extends/side_block.html' %}
    </div>
</div>
<div class="pagination">
    <span class="step-links">
        {% if feeds.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ feeds.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ feeds.number }} of {{ feeds.paginator.num_pages }}.
        </span>
        {% if feeds.has_next %}
        <a href="?page={{ feeds.next_page_number }}">next</a>
        <a href="?page={{ feeds.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}

{% block script %}
<script>
    // Just a simple script which sends the server to like a post
    // for more info please see apps/feed/api.py
    function like_feed(feed_id) {
        fetch("{% url 'like_feed' %}", {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'type': 'application/json'
            },
            body: JSON.stringify({
                feed_id: parseInt(feed_id)
            })
        }).then(function (response) {
            return response.json();
        }).then(function (data) {
            if (data.status == 'success') {
                var like_count = document.getElementById('like_count_' + feed_id);
                like_count.innerHTML = data.like_count;
                var like_count = document.getElementById('like_count_' + feed_id);
                like_count.innerHTML = data.likes;
            }
        });
    }
    const fileInputImage = document.querySelector('#form_image input[type=file]');
    fileInputImage.onchange = () => {
        if (fileInputImage.files.length > 0) {
            const fileName = document.querySelector('#form_image .file-name');
            fileName.textContent = fileInputImage.files[0].name;
        }
    }
    const fileInputVideo = document.querySelector('#form_video input[type=file]');
    fileInputVideo.onchange = () => {
        if (fileInputVideo.files.length > 0) {
            const fileName = document.querySelector('#form_video .file-name');
            fileName.textContent = fileInputVideo.files[0].name;
        }
    }

</script>
{% endblock script %}