{% extends 'core/base.html' %}
{% load static %}
{% load humanize %}


{% block title %}
Home
{% endblock title %}


{% block content %}
<div class="columns" id="app">
    <div class="column is-7">
        <div class="box">
            <h1 class="title is-1 has-text-weight-bold has-text-centered">Home</h1>
            {% include 'core/vit_form_inc.html' with title="Add Vit" %}
        </div>
        <br>
        <div id="data">
            {% if vits %}
            {% for vit in vits %}
            {% include 'vit/extends/vit_block.html' %}
            {% endfor %}

            {% else %}
            <p class="subtitle">
                Wow Such Empty 😢, maybe try following some <a href="{% url 'peoples' %}">people</a>.
            </p>
            {% endif %}
        </div>
        <br>
        <div class="pagination">
            <span class="step-links">
                {% if vits.has_previous %}
                <a href="?page=1">&laquo; first</a>
                 
                <a href="?page={{ vits.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current">
                    Page {{ vits.number }} of {{ vits.paginator.num_pages }}.
                </span>
                {% if vits.has_next %}
                <a href="?page={{ vits.next_page_number }}" class="next">next</a>
                 
                <a href="?page={{ vits.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    <div class="column is-5">
        {% include 'core/extends/side_block.html' %}
    </div>
</div>

{% endblock content %}


{% block script %}
<script>
    let ias = new InfiniteAjaxScroll('.data', {
        item: '.item',
        next: '.next',
        pagination: '.pagination'
    });
</script>
{% endblock script %}