{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Home
{% endblock title %}


{% block content %}
<div class="columns">
    <div class="column">
        <h1 class="title is-1">Vitary</h1>
        <h1 class="title">The New Way To Make Friends Easily.</h1>
        <p class="subtitle">Welcome To <strong>Vitary</strong></p>
        <div class="buttons">
            <a href="{% url 'signup' %}" class="button is-success">Get Started 🚀</a>
            <a href="{% url 'login' %}" class="button is-dark">Login 🔐</a>
        </div>
    </div>
    <div class="column">
        <article class="image">
            <img src="{% static 'img/Networking_perspective_matte.png' %}" alt="hero1" width="100" height="100">
        </article>
    </div>
</div>
{% endblock content %}