<!-- <div class="card">
    {% if embed.image_url and not embed.video_url %}
    <div class="card-image">
        <article class="image">
            <a href="{{ embed.url }}" target="_blank"><img src="{{embed.image_url}}" alt="Placeholder image"></a>
        </article>
    </div>
    {% elif embed.video_url and embed.image_url %}
    <iframe src="{{embed.video_url}}" frameborder="0"></iframe>
    {% endif %}
    <div class="card-content">
        <h5 class="title is-5 pt-0 mt-0"><a href="{{ embed.url }}" target="_blank">
            {{ embed.title|truncatechars:100 }}</a></h5>
        <div class="content">
            <small class="small">
                {{embed.description| truncatechars:200 | default:"No description provided"}}
            </small>
        </div>
    </div>
</div> -->