<div class="modal is-active" id="likeModal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="card">
            <div class="card-content has-text-centered">
                <div class="title is-1 content ">
                    💖
                </div>
                <h1 class="title">
                    Welcome!
                </h1>
                <p class="subtitle">
                    Now you can Like/Unlike that feed.
                </p>
                <button class="button is-link" hx-get="{% url 'api:like' feed.id %}"
                    hx-target="#like_count_{{ feed.pk }}" hx-swap="innerHTML" onclick="document.querySelector('#likeModal').classList.toggle('is-active')">Like</button>
                <button class="button" onclick="document.querySelector('#likeModal').classList.toggle('is-active')">Cancel</button>
            </div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"
        onclick="document.querySelector('#likeModal').classList.toggle('is-active')"></button>
</div>